/* =Reset 
--------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, img, ins, kbd, q, samp, strike, small, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:-moz-any-link:focus, input:focus, textarea:focus, a, a:active, a:focus { outline: none; }	

html { background-color:#fff; }
    body { font-family: Arial, Helvetica; font-size: medium; color: #333; }

p { margin: 10px 0; }

a { cursor:pointer; text-decoration: none; color: #32C5FF; }
a:hover { text-decoration: underline; }
    a img { border:none; }	

header, hgroup, section, article, aside, nav, footer { display: block; }

.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* =Layout
--------------------------------------------*/
.Frame { width: 960px; margin: 0 auto; }

section h1 { margin: 0 0 20px; font: bold 2.0em/1 'Trebuchet MS'; color: #000; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8); }


.Masthead { background-color: #32C5FF; background: -moz-linear-gradient(top, #84ddff, #33c5ff); background: -webkit-gradient(linear, left top, left bottom, from(#84ddff), to(#33c5ff));  }
    .Masthead .Frame { min-height: 100px; background: url(../images/layout/blue-swoosh.png) no-repeat center top; padding: 20px 0; }
    .Masthead .logo { float: left; }
    .Masthead nav { float: right; height: 100px; line-height: 100px; }
        .Masthead nav li { display:inline; }
            .Masthead nav a { display:inline-block; width: auto; overflow :visible; position: relative; padding: 6px 16px 8px; margin: 0 4px;  background: #000 url(../images/layout/buttons-bg.png) repeat-x left top; -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5); -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); -moz-border-radius: 5px; -webkit-border-radius: 5px; font: bold 1.2em/1 'Trebuchet MS'; text-shadow:0 -1px 0 rgba(0,0,0,0.25), 0 1px 0 rgba(255,255,255,0.5); color: #fff; }
            .Masthead nav a:hover { background-color: #111; text-decoration: none; }
            .Masthead nav a:active { -moz-transform: translateY(2px); -webkit-transform: translateY(2px); }

.Featured { padding: 40px 0; background: url(../images/layout/featured-border-top.png) repeat-x center top, url(../images/layout/white-noise.png) repeat left top; border-top: 3px solid #404040; position: relative; }
    .Featured .Carousel { float: left; width: 50%; }
    .Featured .description { float: right; width: 45%; }
        .Featured .description h2 { font: bold 2.2em/1 'Trebuchet MS'; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8); }
        .Featured .description p { margin: 15px 0 20px; line-height: 1.4em; }
        .Featured .description a { display: block; width: 133px; height: 44px; border: 1px solid #000; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
        .Featured .description .caa { border: 1px solid #790011; width: 125px; height: 63px; margin: 10px 0 0; background-color: #790011; padding: 2px 5px; }
            .Featured .description a:active { -moz-transform: translateY(2px); -webkit-transform: translateY(2px); }

.Carousel {  }
    .Carousel .window { position: relative; width: 480px; height: 320px; overflow: hidden; margin: 0 0 20px; }
        .Carousel .preview { position: absolute; width: 30000px; }
            .Carousel .preview li { list-style: none; float: left; }
    .Carousel .navigation { width: 140px; margin: 0 auto; }
        .Carousel .navigation li { list-style: none; float: left; margin: 0 2px; }
            .Carousel .navigation a { display: block; background-color: #333; border: 1px solid #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.40); -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.40); width: 8px; height: 8px; text-indent: -50000px; }
            .Carousel .navigation .selected a { background-color: #32C5FF; border-color: #333; }

.Body { clear: both; min-height: 100px; padding: 40px 0 20px; background: url(../images/layout/content-bg.png) repeat-x center top; border-top: 1px solid #aaa; }
    .Body footer { clear: both; float: right; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) }
        .Body footer a { font-size: .9em; color: #333; }

.News { clear: both; padding: 20px 0; background: #80ddff url(../images/layout/border-top.png) repeat-x center top; }
    .News h1 { text-shadow: 1px 1px 0 rgba(255,255,255,0.5); }
    .News .Press { float: left; width: 60%; }
    .News .Twitter { float: right; width: 35%; }

.Press {}
    .Press li { list-style: none; }
        .Press hgroup { margin: 0 0 10px; font-family: Georgia; }
        .Press h2 { margin: 0 0 2px; }
        .Press h3 { font-size: 0.8em; font-style: italic; color: #3a6372; text-shadow: 1px 1px 0 rgba(255,255,255,0.25); } 
#Press .Press { width: 75%; }
#Press .Press li { margin: 0 0 40px; }
    #Press .Press li h2 { font-size: 1.2em; font-weight: bold; }
    #Press .Press li p { line-height: 1.2em; margin: 20px 0; }

.Twitter {}
    .Twitter p { font-family: Georgia; font-size: 1.5em; }
        .twtr-widget em { font-style: italic !important; font-size: 0.8em  !important; color: #3a6372; text-shadow: 1px 1px 0 rgba(255,255,255,0.25); }
        .Twitter #twtr-widget-1 .twtr-tweet em a { color: #3a6372 !important; }
        .twtr-hd, .twtr-ft { display: none !important; }
    .Twitter .followUs { display: block; width: 160px; height:27px; margin: 20px 0; background: url(../images/icons/twitter-buttons.png) no-repeat left top; text-indent: -5000px; }
    .Twitter .followUs:visited { background-position: left -27px; }
    .Twitter .followUs:hover { background-position: left -54px; }
    .Twitter .followUs:active { -moz-transform: translateY(2px); -webkit-transform: translateY(2px); }

.Footer { clear: both; min-height: 32px; padding: 10px 0; background-color: #32C5FF; background: -moz-linear-gradient(top, #32C5FF, #1b4475); background: -webkit-gradient(linear, left top, left bottom, from(#32C5FF), to(#1b4475)); border-top: 1px solid #2593bb; font-size: .75em; line-height: 32px; color: #fff; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }
    .Footer small { float: left; margin-right: 5px; font-weight: bold; }
    .Footer nav { float: left; }
            .Footer nav a { padding: 0 5px; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); text-decoration: underline; color: #fff; }

.SocialLinks { float: right; }
    .SocialLinks li { display: inline; }
        .SocialLinks a { display: inline-block; width: 30px; height: 30px; margin: 0 2px; background: url(../images/icons/icons.png) no-repeat left top; text-indent: -50000px; }
        .SocialLinks .twitter { background-position: 0 0; }
        .SocialLinks .facebook { background-position: -30px -30px; }
        .SocialLinks .linkedin { background-position: -60px -60px; margin: 0 0 0 2px; }
        .SocialLinks .email { background-position: -90px -90px; }

form { width: 50%; min-height: 310px; margin: 0 0 20px; }
    form label { display: block; margin: 0 0 2px; }
    form input[type="text"] { width: 75%; margin: 0 0 10px; padding: 2px 5px; font-size: 1em; color: #999; }
    form input:focus, form textarea:focus { color: #333; }
    form select { margin: 0 0 10px; font-size: 1em; }
    form textarea { display: block; width: 97%; height: 100px; margin: 0 0 15px; padding: 5px; font: 1em/1 'Arial'; color: #999; }
    form input[type="submit"] { padding: 2px 10px; background: #1b85b2; background: -moz-linear-gradient(top, #50c1e1, #1b85b2); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25); border: 1px solid #0971a1; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1em; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); color: #fff; cursor: pointer; }
    form input[type="submit"]:active { -moz-transform: translateY(2px); -webkit-transform: translateY(2px); }


/* =Page Specific
--------------------------------------------*/
.Catalog { position: relative; }
    .Catalog li { float: left; margin: 0 20px 40px; list-style: none; }
    .Catalog li:nth-child(even) { float: right; }
        .Catalog li a { display: block; position: relative; z-index: 1; font: 1.2em/1 Arial; }
        .Catalog li a:hover { text-decoration: none; }
        .Catalog li img { display:block; margin: 0 0 10px; padding: 10px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 2px solid white; -moz-border-top-colors: #292929 white; -moz-border-right-colors: #292929 white; -moz-border-bottom-colors: #292929 white; -moz-border-left-colors: #292929 white; -webkit-box-shadow: 0 -1px 2px #292929; -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); background: #a4a4a4; background: -moz-linear-gradient(top, #e3e3e3, #a4a4a4); background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#a4a4a4)); }
        .Catalog li span { position: absolute; bottom: 12px; left: 12px; width:89%; padding: 5px; background: rgba(255,255,255,0.5); background: -moz-linear-gradient(top 180deg, rgba(0,0,0,0), rgba(0,0,0,.25), rgba(0,0,0,.50), rgba(0,0,0,1)) -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))); text-shadow: 2px 2px 5px rgba(255,255,255,.5); }
    #Home .Catalog li { -moz-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); }
    #Home .Catalog li:nth-child(even) { -moz-transform: rotate(2deg); -webkit-transform: rotate(2deg); }
    #Home .Catalog li:nth-child(odd) { -moz-transform: none; -webkit-transform: none; position: relative; top: -5px; }
    #Home .Catalog li:nth-child(3n) { -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); position: relative; right: -15px; top: 8px; }
        #Home .Catalog li a:hover { -moz-transform: scale(1.25); -webkit-transform: scale(1.25); position: relative; z-index: 99; -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); text-decoration: none; }

#About .Featured .description p { margin: 0 0 20px; }
