---
layout: cracked
title: Video
stylesheet: null
---

<section id="Video" class="Body Widescreen FLC">

    {% include cracked/breadcrumb.html %}

    <img src="http://dummyimage.com/960x80/000/fff.jpg&text=Series+Logo" id="editorLogo" />

    <section id="PrimaryContent">

        <article class="Article Module" role="main">
            <section class="body">
                
                <section id="videoPlayer"><img src="http://dummyimage.com/628x353/000/fff.jpg&text=Video" /></section>
                <header><h1 id="articleTitle" class="Heading1">Article Title</h1></header>
                <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <footer id="metadata" class="">
                    <address class="byline"><a href="" rel="author" class="Heading5">By: Dan O'Brien</a></address>
                    <a href="#Comments" class="comments">999 Comments</a>
                    <span class="views">125,000 views</span>
                </footer>

            </section>
        </article>

        <section class="Module">
            <header class="header"><h2 class="Heading2">Share with Friends</h2></header>
            <section class="body">
                <div>facebook like button</div>
                <form>
                    <label for="embedCode">Embed</label>
                    <input type="text" id="embedCode" readonly value="&lt;embed src=&quot;http://cracked.com/video_url.html&quot;&gt;" />
                </form>
                <ul class="ShareTools">
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Digg</a></li>
                    <li><a href="">StumbleUpon</a></li>
                    <li><a href="">Email</a></li>
                </ul>
            </section>
        </section>

        <article class="ArticleArchive Module" role="main">
                <header class="header">
                    <h1 class="heading Heading2">Cracked Sports Archive</h1>
                    <section class="Sort">
                        <a href="#ByDate" class="item current">By Date</a>
                        <a href="#ByViews" class="item">Most Viewed</a>
                    </section>
                </header>

                <section class="body">

                    <ol id="byDate" class="ArticleListing">
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title 1 by Date</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                    </ol>

                    <ol id="byViews" class="ArticleListing">
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title 1 by View</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                        <li class="item ArticlePreview Inline">
                            <p class="meta">
                                <a href="" class="Heading4 title">Article Title</a>
                                <a href="" class="byline">By: Dan O'Brien</a><br />
                                <time datetime="" class="date">July 19, 2010</time>
                                <span class="views">125,000</span>
                            </p>
                            <div class="Thumbnail">
                                <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image" alt="" />
                            </div>
                        </li>
                    </ol>

                    {% include cracked/pagination.html %}
                </section>

        </article>

        {% include cracked/comments.html %}

    </section>

    {% include cracked/secondary_content.html %}

</section>
