<div class="Callout">
	<p>We have two announcements to make about OCEA members at the 2011 NAEA Conference.</p>
 
	<p>Congratulations to OCEA's very own, newly graduated, 2011 NTPI Fellow&reg;: Coleman E. Cook, EA, CFP. "A designation which signifies unparalleled dedication to providing the highest level of representation. NTPI is a comprehensive and hands-on program which thoroughly covers all aspects of representation."</p>

	<p>Also, at this year NAEA conference, we had an OCEA member be nationally recognized for her excellence in mentoring. The 2011 Mentor of the Year Award: Sherrill Gregory Trovato, EA, USTCP</p>
 
	<p>If we missed you, please <a href="{{ site.github.url }}/ocea/contact-us.html">contact us</a> so we can acknowledge you. Thank you and Congratulations!</p>
</div>
