<div class="CurrentNewsletter">
	{% if page.title != "Newsletter Archive" %}
	    <a href="/ocea/resources/newsletter-archive.html" class="archive">view archive</a>
	    <h2 class="Heading2a">Newsletter</h2>
	{% else if %}
	    <h2 class="Heading4a">Current Newsletter</h2>
	{% endif %}
	<h3 class="Heading5a">Issue 5, November 2011</h3>
	<div class="newsletter"><img src="/ui/ocea/images/newsletters/current_newsletter_cover.jpg" height="372" width="300" alt="Click through to read the current OCEA newsletter."  /></div>
	<a href="/ocea/media/newsletters/2011/1111.pdf" class="download">download</a>
</div>
