<!-- Dinner Meetings section starts -->
<div class="vevent DinnerMeeting">

    {% if page.title != "Sign Up" %}
        <h2 class="summary Heading2a">Dinner Meeting</h2>
    {% endif %}

    <p class="Heading5a">Next Meeting: November 15th, 2011</p>

    <div class="description">
        
        <h4>Reservations</h4>
        <p>Reservations must be received by midnight the Thursday before the meeting</p>
        <h4>Details</h4>
        <p>Meetings are held on the third Tuesday of each month at The Phoenix Club in Anaheim. (see map below)</p>

        <table>
            <col></col>
            <colgroup>
                <col></col>
                <col></col>
            </colgroup>
            <caption>Cost</caption>
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <th scope="col">Members</th>
                    <th scope="col">Non-Members*</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="2" scope="col">Members</th>
                    <th scope="col">Non-Members*</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th scope="row">1hr CPE Credit</th>
                    <td>$35</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <th scope="row">2hr CPE Credit</th>
                    <td>$45</td>
                    <td>$50</td>
                </tr>
                <tr>
                    <th scope="row">3hr CPE Credit</th>
                    <td>$55</td>
                    <td>$60</td>
                </tr>
            </tbody>
        </table>
        
        <ul>
            <li>this includes members without reservations</li>
            <li>Prices subject to change at any time</li>
        </ul>
        
    </div>
        
    <p>Location: <span class="location">The Phoenix Club</span></p>

    <a href="http://maps.google.com/maps?f=d&saddr=&daddr=1340+S+Sanderson+Ave,+Anaheim,+CA+92806&hl=en&geocode=&mra=ls&sll=33.816183,-117.874224&sspn=0.005179,0.011373&ie=UTF8&t=h&z=16">Driving Directions</a>

    <h4><a href="http://maps.google.com/maps/ms?hl=en&amp;geocode=&amp;ie=UTF8&amp;t=h&amp;msa=0&amp;msid=104597121480982917163.00045ec6edbb451c4f767&amp;ll=33.81588,-117.875319&amp;spn=0.008771,0.012703&amp;z=15&amp;source=embed" title="33.8148;-117.87243" class="geo url">Map</a></h4>

    <div><iframe width="320" height="246" FrameLborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;geocode=&amp;ie=UTF8&amp;t=h&amp;s=AARTsJpZv55gFJ7qGpWOzZeh9__2mQyqOQ&amp;msa=0&amp;msid=104597121480982917163.00045ec6edbb451c4f767&amp;ll=33.81588,-117.875319&amp;spn=0.008771,0.012703&amp;z=15&amp;output=embed"></iframe></div>

</div>
<!-- Dinner Meetings section ends -->
