<div class="vcard info FLC">
    <a href="/ocea/about/members/featured-member.php" class="Polaroid">
        <img src="/ocea/media/members/thumbnails/patricia_kappen.jpg" alt="The Orange County Enrolled Agent Featured Member" height="105" width="110" class="photo" />
    </a>
    <a class="fn url" href="http://sanjuanfinancial.com/">Patricia Kappen</a>
        
    <dl>
        <dt>Position</dt><dd>President</dd>
        <dt>Years Practicing</dt>
        <dd>14</dd>
        
        <dt>Member Since</dt>
        <dd>1996</dd>
        
        <dt>Birth Place</dt>
        <dd>Long Island, NY</dd>
        
        <dt>Additional Licenses</dt>
        <dd>Series 7, CA Insurance</dd>
        
        <dt>Employment</dt>
        <dd>San Juan Financial</dd>
        
        <dt class="last">Interesting Facts</dt>
        <dd>She still owns a business in Long Island that she does the bookkeeping for in her office here. She moved out here in 1992 as the controller for an international company and later was in charge of managing the five family trusts that were intertwined with the corporation.</dd>
    </dl>

</div>
