<!-- Tombstones : start -->
<div class="Tombstone FLC">

    <div class="Heading3a">Resource Center</div>

    <ul>

        <li>
            <div>Resources</div>
            <ul>
                <li><a href="/ocea/resources/calendar.php">Calendar</a></li>
                <li><a href="/ocea/resources/documents.php">Documents</a></li>
                <li><a href="/ocea/resources/newsletter-archive.php">Newsletters</a></li>
                <li><a href="/ocea/about/how-to-join.php" >How to Join <abbr title="Orange County Enrolled Agents">OCEA</abbr></a></li>
                <li><a href="http://www.csea.org/FindanEA/tabid/105/Default.aspx">Find an EA</a></li>
            </ul>
        </li>

        <li>
            <div>Federal</div>
            <ul>
                <li><a href="http://www.irs.gov" rel="external"><abbr title="Internal Revenue Service">IRS</abbr></a></li>
                <li><a href="http://www.naea.org" rel="external"><abbr title="National Association of Enrolled Agents">NAEA</abbr></a></li>
                <li><a href="http://www.irs.gov/taxpros/index.html" rel="external"><abbr title="Internal Revenue Service">IRS</abbr> Tax Pro Info</a></li>
                <li><a href="http://www.irs.ustreas.gov/formspubs/index.html" rel="external"><abbr title="Internal Revenue Service">IRS</abbr> Forms</a></li>
                <li><a href="http://www.fourmilab.ch/ustax/ustax.html" rel="external"><abbr title="United States of America">US</abbr> Tax Code</a></li>
                <li><a href="http://thomas.loc.gov/" rel="external">Thomas (<abbr title="Library of Congress">LOC</abbr>)</a></li>
            </ul>
        </li>
        <li>
            <div>State</div>
            <ul>
                <li><a href="http://www.ftb.ca.gov" rel="external"><abbr title="Franchise Tax Board">FTB</abbr></a></li>
                <li><a href="http://www.edd.ca.gov" rel="external"><abbr title="Employment Development Department">EDD</abbr></a></li>
                <li><a href="http://www.boe.ca.gov" rel="external"><abbr title="Board of Equalization">BOE</abbr></a></li>
                <li><a href="http://www.ss.ca.gov/" rel="external">Secretary of State</a></li>
                <li><a href="http://www.ss.ca.gov/business/" rel="external"><abbr title="California">CA</abbr title="California"> Business Portal</a></li>
                <li><a href="http://www.dca.ca.gov/cba/" rel="external">Board of Accountacy</a></li>
            </ul>
        </li>
        <li>
            <div>Local</div>
            <ul>
                <li><a href="http://www.cseasandiego.org" rel="external"><abbr title="San Diego Enrolled Agents">SDEA</abbr></a></li>
                <li><a href="http://www.laareacsea.org/" rel="external"><abbr title="Los Angeles Enrolled Agents">LAEA</abbr></a></li>
                <!--<li><a>Inland Empire</a></li>-->
                <!--<li><a>Palomar</a></li>-->
                <!--<li><a>IRS</a></li>-->
                <!--<li><a>IRS</a></li>-->
            </ul>
        </li>
        <li>
            <div>Other</div>
            <ul>
                <li><a href="http://www.kbb.com" rel="external">Kelly Blue Book</a></li>
                <li><a href="https://sa2.www4.irs.gov/modiein/individual/index.jsp" rel="external">Online <abbr title="Employee Identification Number">EIN</abbr> Application</a></li>
                <li><a href="http://www.gsa.gov/Portal/gsa/ep/contentView.do?programId=9704&amp;channelId=-15943&amp;ooid=16365&amp;contentId=17943&amp;pageTypeId=8203&amp;contentType=GSA_BASIC&amp;programPage=%252Fep%252Fprogram%252FgsaBasic.jsp&amp;P=MTT" rel="external">Per Diem Rates</a></li>
                <li><a href="http://aoprals.state.gov/content.asp?content_id=184&amp;menu_id=78" rel="external">Foreign Per Diems</a></li>
                <li><a href="http://www.aarp.org/money/revmort/" rel="external">Reverse Mortgage</a></li>
                <li><a href="http://www.mortgageloan.com/disabilities/">Mortgage Loan Disabilities</a></li>
            </ul>
        </li>
    </ul>
	
</div>
<!-- Tombstones : end -->
