<div class="UpcomingEvents">

    <div class="overlay">
        <iframe src="http://www.google.com/calendar/hosted/eaoc.org/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=webmaster%40eaoc.org&amp;color=%23AB8B00&amp;src=eaoc.org_13ce278l5ueonqcp7vb7383rp0%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=eaoc.org_hm4qlim1847pgfnn6focscbv0g%40group.calendar.google.com&amp;color=%238D6F47&amp;src=eaoc.org_l9qfudc3t65rtjfhhbg52q4gdg%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FLos_Angeles" frameborder="0" scrolling="no"></iframe>
        <p>Loading...</p>
    </div>

</div>
