/*--------------------------------------------
Global Common (for FF3, Safari 3, Chrome 1, IE9)

version:     3.0
author:      Chris Newton
website:     http://cracked.com/
--------------------------------------------*/

/* =Reset 
--------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, button, address, cite, code, del, dfn, img, ins, kbd, q, samp, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:-moz-any-link:focus, input:focus, textarea:focus, a, a:active, a:focus { outline: none; }

header, footer, nav, article, section, aside, figure { display: block; }

a { cursor:pointer; }
	a img { border:none; }

button { cursor: pointer; background-color: transparent; }
label, input[type="submit"] { cursor: pointer; }

table { border-collapse:collapse; }
ol { margin-left: 25px; }

/* =Float Container */
.FLC { clear:both; }
.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* =Debug Classes - used to help debug missing or broken elements */
.Debug1 { border: 1px solid red; background-color: red; }
.Debug2 { border: 1px solid green; background-color: green; }

/*
@Module, Section
=Global, Overrides
*/

/*--------------------------------------------
Global Typography (for FF3, Safari 3, Chrome 1, IE9)

version:     3.0
author:      Chris Newton
website:     http://cracked.com/
--------------------------------------------*/

/* =Global: */
html { color:#0c0c0c; }
body { font-family: Georgia, serif; font-size: small; color: #0c0c0c; }

a { text-decoration: none; color: #09cee0; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #000; }
th { text-align: left; font-weight: normal; }

/* =Global: Headings */
.Heading1 { font-size: 2.461538em; } /* headlines; 32px */
.Heading2 { font-size: 2.153846em; } /* 28px */
.Heading3 { font-size: 1.615384em; } /* 21px */
.Heading4 { font-size: 1.384615em; } /* calls to action, buttons; 18px */
.Heading5 { font-size: 1.153846em; } /* 15px */
p { margin: 20px 0; font-size: 1em; line-height: 1.625em; } /* body copy; 13px */
.Heading6 { font-size: .923076em; } /* 12px */
.Note { font-size: .846153em; font-family: Arial; color: #999; } /* fine print; 11px */

.byline { font-style: italic; }
label { font-style: italic; }

/*--------------------------------------------
Global Layout (for FF3, Safari 3, Chrome 1, IE9)

version:     3.0
author:      Chris Newton
website:     http://cracked.com/
--------------------------------------------*/

/* =Template
--------------------------------------------*/
html { padding: 30px 0 95px; background: #FFCD09; background: -moz-linear-gradient(top, #FFCD09 0%, #FFB106 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFCD09), color-stop(100%,#FFB106)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCD09', endColorstr='#FFB106',GradientType=0 ); }
body { width: 990px; margin: 0 auto; }

/* =Global: Templates */
#PrimaryContent, #SecondaryContent, #TertiaryContent { float: left; display: inline; }

/* Template 2 */
#Template2 #PrimaryContent { width: 650px; margin-right: 10px; }
#Template2 #SecondaryContent { float: right; width: 300px; }

/* @Section: Header */
#Header { height: 93px; margin-bottom: 20px; }
	/* @Module: Logo */
	#Logo { float: left; color: #232222; }
		#Logo img { display: block; margin-bottom: 5px; }
	/* @Module: Search */
	#HeaderSearch { float: left; margin: 15px 30px; }
	/* @Module: Login */
	#Account { float: right; margin-top: 17px; padding: 0 6px 4px; background: url(../images/sprite.png) no-repeat -2px -947px; }
		#Account .container { height: 26px; padding: 5px 8px; background: #ffd326; background: -moz-linear-gradient(top, #ffe680 0%, #ffd326 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe680), color-stop(100%,#ffd326)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd326', endColorstr='#ffe680',GradientType=0 ); border: 1px solid #ffe680; border-color: #ffe680 #ffdd58 #ffcc00; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
		#Account .item, #Account .facebook { display: inline; float: left; }
		#Account .url { display: block; padding: 5px 10px; border-right: 1px solid #face69; font: italic 1.153846em/1.153846em Georgia; color: #0a0a0a; }
		#Account .facebook .url { border-right: none; }

/* =Section: Wrapper (#Wrapper) - used for drop shadow */
#Wrapper { background-color: #fff; -moz-box-shadow: 0px -4px 15px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0px -4px 15px 2px rgba(0,0,0,.2); box-shadow: 0px -4px 15px 2px rgba(0,0,0,.2); }

/* =Section: Navigation & Tools (#NavAndTools) */
#NavAndTools { clear:both; height: 48px; -moz-box-shadow: 0 5px 10px rgba(0,0,0,.3); -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3); box-shadow: 0 5px 10px rgba(0,0,0,.3	); }
	#NavAndTools .Button2 { float: right; margin: 8px 15px; padding: 6px 12px; }
		#NavAndTools .job { display: block; width: 115px; height: 16px; background: url(../images/sprite.png) no-repeat left -655px; text-indent: -50000px; }

/* @Module: Navigation (#Navigation) */
#Navigation { float: left; display: inline; margin-right: 10px; }
	#Navigation li { float: left; display: inline; }
	#Navigation a { display: block; padding: 15px 20px; border-right: 1px dotted #ecebeb; font-size: 1.153846em; font-style: italic; color: #0c0c0c; }
	#Navigation .more { background: url(../images/sprite.png) no-repeat -228px -81px; padding: 15px 30px 15px 20px; }
	#Navigation .selected, #Navigation a:hover { background-color: #f5f5f5; }

/* @Module: Follow Us (#FollowUs) */
#FollowUs { float: left; display: inline; margin: 6px 10px; }
	#FollowUs li { float: left; display: inline; margin: 0 2px; }
	#FollowUs .facebook, #FollowUs .twitter, #FollowUs .rss { display: block; width: 37px; height: 36px; background: url(../images/sprite.png) no-repeat; text-indent: -5000px; }
	#FollowUs .facebook { background-position: 4px -332px; }
	#FollowUs .twitter { background-position: 4px -372px; }
	#FollowUs .rss { background-position: 4px -413px; }
	#FollowUs .facebook:hover { background-position: 0px -455px; }
	#FollowUs .twitter:hover { background-position: 0px -495px; }
	#FollowUs .rss:hover { background-position: 0px -535px; }

/* @Section: 990 Ad (#Ad990) */
#Ad990, .Body { }

/* @Section: Body (.Body) */
.Body { padding: 20px 15px; }

/* @Module: Breadcrumbs (#Breadcrumbs) */
#Breadcrumbs { margin: 0 0 16px; }
	#Breadcrumbs li { display: inline; margin-right: 3px; padding-right: 12px; background: url(../images/sprite.png) no-repeat right -197px; font-size: .923076em; }
	#Breadcrumbs li:last-child { background: none; }
	#Breadcrumbs a { color: #414141; }

#FooterLinks, #NewsletterAndSearch { padding: 20px 40px; }

/* @Module: Footer Links (#FooterLinks) */
#FooterLinks ul { padding: 20px 0; border: 1px dotted #dfdede; border-width: 1px 0; text-align: center; }
	#FooterLinks .link { display: inline; padding: 1.153846em 0; }
	#FooterLinks a { padding: 5px 20px; border-right: 1px dotted #dfdede; font-weight: bold; color: #333; }
	#FooterLinks li:last-child a { border-right: none; }

/* =Section: Newsletter & Search (#NewsletterAndSearch) */
#NewsletterAndSearch { height: 83px; padding: 20px 40px; }

/* @Module: Newsletter Signup (.Newsletter) */
.Newsletter { float: left; width: 50%; }
	.Newsletter input[type="text"] { width: 62%; }
	.Newsletter .Button2 { margin-left: 10px; }

#FooterSearch { float: right; width: 40%; }
	#FooterSearch input[type="text"] { width: 88%; }
	#FooterSearch .button { right: 20px; }

/* @Section: Site Footer (#Footer) */
#Footer { clear: both; padding: 0 40px 20px; text-align: center; }
	#Footer .Note { display: block; margin-bottom: 30px; padding-top: 20px; border-top: 1px solid #dfdede; }

/* @Section: Site Toolbar (#Toolbar) */
#Toolbar { width: 98%; position: fixed; left: 1%; bottom: 0; z-index: 1000; height: 30px; margin: 0 auto; background: #bcbcbc; background: -moz-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#bcbcbc)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#bcbcbc',GradientType=0 ); border: 1px solid #bebebe; border-width: 1px 1px 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

	#Toolbar .ad { float: left; position: relative; width: 215px; height: 100%; background-color: #fff; border: 1px solid #bebebe; border-color: #fff #bebebe #fff #fff; border-radius: 5px 0 0 0; }
		#Toolbar .asset { position: absolute; left: 10px; top: -54px; }
	#Toolbar .tools { float: right; height: 100%; line-height: 30px; }

	#Toolbar li, #Toolbar .houseAd, #Toolbar .close { height: 100%; border-left: 1px solid #bebebe; padding: 0 10px; }
	#Toolbar li, #Toolbar .shareTools, #Toolbar .houseAd { float: right; display: inline; }
	#Toolbar .houseAd, #Toolbar .close { background: url(../images/sprite.png) no-repeat; text-indent: -50000px; }

	#Toolbar .share, #Toolbar .facebook, #Toolbar .twitter { display: block; padding-left: 25px; background: url(../images/sprite.png) no-repeat; font-family: 'Helvetica Neue', Helvetica, Arial; font-size: 12px; line-height: 30px; color: #0c0c0c; }
	#Toolbar .facebook { background-position: left -210px }
	#Toolbar .twitter { background-position: left -250px }
	#Toolbar .share { background-position: left -290px }
	#Toolbar .houseAd { width: 260px; background-color: #fff; background-position: 12px -695px; }
	#Toolbar .close { float: right; width: 32px; height: 30px; background-position: 8px -727px; }

/*--------------------------------------------
Global Modules (for FF3, Safari 3, Chrome 1, IE9)

version:     3.0
author:      Chris Newton
website:     http://cracked.com/
--------------------------------------------*/

/* =Global: Module */
.Module { position: relative; margin-bottom: 20px; padding-bottom: 19px; background: url(../images/drop-shadows.png) no-repeat left bottom; }
	.Module .header { padding: 10px; border: 1px solid #666; border-width: 1px 1px 0; }
	.Module .body { padding: 20px 10px; border: 1px solid #666; border-width: 1px; }
	.Module .Button1 { position: relative; float: right; z-index: 1; margin: -10px -11px 0 0; }
	.Module .Carousel { padding: 0; }
	#PrimaryContent .Module { background-position: -980px bottom; }
	#SecondaryContent .Module { background-position: -1620px bottom; }
	#SecondaryContent .Module .header { padding: 10px 10px 0px; background-color: #fcfdfd; }
	#SecondaryContent .Module .body { padding: 10px 10px 16px; background-color: #fcfdfd; border-width: 0 1px 1px; }

/* =Global: Forms */
.Form1 { position: relative; }
	.Form1 label { display: block; margin-bottom: 10px; font-style: italic; }
	.Form1 input[type="text"], .Form1 textarea { padding: 10px 20px; border: 1px solid #c9c9c9; border-width: #acacac #c9c9c9 #f0f0f0 #cbcaca; -moz-box-shadow: 2px 2px 2px rgba(199,199,199, .8) inset; -webkit-box-shadow: 2px 2px 2px rgba(199,199,199, .8) inset; font-size: 1.153846em; }
	.Form1 input[type="text"] { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
	.Form1 textarea { width: 93%; }
	.Form1 .Button1 { position: relative; float: right; z-index: 1; margin: -10px -11px 0 0; }

/* =Global: Buttons */
.Button1 { padding: 10px; background-color: #e1020e; border: 1px solid #e7454d; border-color: #e41823 #e7454d #e31823 #e2121d; font-size: 1.384615em; font-family: Georgia; font-style: italic; color: #fdfafa; }
.Button2 { display: inline-block; padding: 6px 12px; background-color: #ffcc01; background: -moz-linear-gradient(top, #ffe16a  0%, #ffcc01 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe16a), color-stop(100%,#ffcc01)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe16a', endColorstr='#ffcc01',GradientType=0 ); border: 1px solid #ffd016; border-color: #ffd016 #fccc0c #ffcc01 #ffcf0d; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -moz-box-shadow: 0px 3px 4px rgba(0,0,0,.5), -4px 0 4px rgba(0,0,0,0); -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,.5), -4px 0 4px rgba(0,0,0,0); box-shadow: 0px 3px 4px rgba(0,0,0,.5), -4px 0 4px rgba(0,0,0,0); font-size: 1.384615em; font-family: Georgia; font-style: italic; text-shadow: -1px -1px 3px rgba(39,39,39,0.25), 1px 1px 3px rgba(216,216,216,0.5); color: #000; }
.Button2:hover { text-decoration: none; }

/* =Global: Article Preview (.ArticlePreview) */
.ArticlePreview { position: relative; }
	.ArticlePreview .meta { font-style: italic; }
		.ArticlePreview .meta .title { display: block; color: #0c0c0c; }
		.ArticlePreview .meta .byline {}
		.ArticlePreview .meta .date { margin-right: 5px; padding-right: 5px; border-right: 1px solid #666; }
	.ArticlePreview .excerpt {}
	.ArticlePreview .Thumbnail { position: absolute; top: 0; }
.ArticlePreview.Inline {}
	.ArticlePreview.Inline .meta { float: right; margin: 0; }
		.ArticlePreview.Inline .meta .title {}
		.ArticlePreview.Inline .meta .byline {}
		.ArticlePreview.Inline .meta .date {}
		.ArticlePreview.Inline .meta .views {}
	.ArticlePreview.Inline .excerpt {}
	.ArticlePreview.Inline .Thumbnail {}

/* =Global: Thumbnail (.Thumbnail) */
.Thumbnail {}
	.Thumbnail .caption {}
	.Thumbnail .credit {}
.Thumbnail.video { position: absolute; }
	.Thumbnail.video .play { display: block; position: absolute; left: 50%; top: 50%; width: 70px; height: 70px; margin: -35px 0 0 -35px; background: url(../images/sprite.png) no-repeat -2px -817px; text-indent: -5000px; }

/* =Global: Ad Unit (.AdUnit) */
.AdUnit { margin-bottom: 20px; }

/* =Global: Pagination */
.Pagination { clear: both; position: relative; height: 22px; }
	.Pagination .indicator { margin: 0; position: absolute; left: 68px; }
	.Pagination ul { height: 100%; line-height: 22px; }
	.Pagination li { float: left; display: inline; margin: 0 5px; }
	.Pagination .pager { margin-left: 92px; }
	.Pagination .pages { margin-left: 0; }
		.Pagination .pages .page { display: block; padding: 0px 6px; color: #0c0c0c; }
		.Pagination .pages .page:hover { background-color: #f5f5f5; }
		.Pagination .pages .current, .Pagination .pages .current:hover { background-color: #ffcd09; }
	.Pagination .first, .Pagination .last { color: #0c0c0c; text-decoration: underline; }
	.Pagination .previous, .Pagination .next { display: block; width: 6px; height: 22px; background: url(../images/sprite.png) no-repeat 0px 0px; text-indent: -5000px; }
	.Pagination .previous { background-position: left -94px; }
	.Pagination .next { background-position: right -94px; }

/* =Global: Carousel */
.Carousel { position: relative; padding: 0 0 19px; border: none;  }
	.Carousel .window { position: relative; overflow: hidden; height: 100%; padding: 0; }
	.Carousel .stage { position: absolute; left: 0; width: 9000px; margin-left: 0; }
	.Carousel .item { float: left; display: inline; padding-bottom: 10px; border-right: 1px solid #f5f5f5; }
	.Carousel .item:last-child { border-right: none; }
	.Carousel .item:hover { background-color: #f5f5f5; }
	.Carousel .prev, .Carousel .next { display: block; width: 22px; height: 40px; position: absolute; top: 50%; margin-top: -20px; background: #fff url(../images/sprite.png) no-repeat; text-indent: -5000px; }
	.Carousel .prev { left: 0; background-position: 4px 12px; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; -webkit-box-shadow: 4px 0px 10px rgba(0,0,0,.2); -moz-box-shadow: 4px 0px 10px rgba(0,0,0,.2); box-shadow: 4px 0px 10px rgba(0,0,0,.2); }
	.Carousel .next { right: 0; background-position: -284px 12px; -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;  -webkit-box-shadow: -4px 0px 10px rgba(0,0,0,.2); -moz-box-shadow: -4px 0px 10px rgba(0,0,0,.2); box-shadow: -4px 4px 3px rgba(0,0,0,.2); }

/* =Global: Search (.Search) */
.Search { position: relative; width: 340px; }
	.Search input[type="text"] { width: 100%; background: #fff url(../images/sprite.png) no-repeat 20px -606px; }
	.Search input[type="text"]:focus { background: #fff; }
	.Search .button { position: absolute; right: -20px; bottom: 10px; width: 32px; height: 21px; padding-left: .769230em; background: #fff url(../images/sprite.png) no-repeat 6px -579px; border: none; text-indent: -5000px; }

/* =Global: Modal (.Modal) */
.Modal { display: none; font-style: italic; }
	.Modal .header { margin-bottom: 10px; }
	.Modal .heading { color: #fff; }
	.Modal .body { width: 420px; margin: 0 auto; padding: 10px; background-color: #fff; border: 1px solid #d5d5d5; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
	.Modal p { margin: 10px 0; }
	.Modal .Button2 { font-size: 1.153846em; }
	.Modal form, #Login .register .box { border: 1px solid #666; padding: 20px; }
		.Modal label, .Modal input { float: left; display: inline; }
		.Modal label { clear: both; width: 60px; height: 26px; line-height: 26px; }
		.Modal input[type="text"] { width: 250px; margin: 0 0 10px 10px; padding: 5px 10px; }
		.Modal form .Button2 { width: 150px; }

/* @Module: Login Modal (#Login) */
#Login {}
	#Login .remember { clear: both; width: 300px; height: 15px; margin: 0 0 20px 70px; }
		#Login .remember label { float: right; width: 92%; height: 100%; line-height: 15px; }
	#Login .forgot { display: inline-block; height: 35px; margin-left: 20px; line-height: 35px; color: #0c0c0c; }
	#Login .register { text-align: center; line-height: .825em; }
		#Login .register .box { display: block; margin-top: 10px; }
		#Login .register .Button2 { width: 125px; font-size: .714285em; }
	
/* =Global: Archive (.ArticleArchive) */
.ArticleArchive { position: relative; }
	.ArticleArchive .Sort { float: right; position: absolute; top: 1px; right: 4px; height: 53px; }
	.ArticleArchive .ArticleListing {  }

/* =Global: Sort (.Sort) */
.Sort .item { display: inline-block; height: 99%; margin-right: -3px; padding: 0 20px; background-color: #f5f5f5; border: 1px solid #666; border-width: 0 0 1px 1px; line-height: 52px; color: #0c0c0c; }
.Sort .current { background-color: #fff; border-bottom-color: #fff; }

/* =Global: Article Listing (.ArticleListing) */
.ArticleListing { list-style: none; margin-left: 0; }
	.ArticleListing .item { min-height: 110px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #666; }
	.ArticleListing .item:last-child { border-bottom: none; }
	.ArticleListing .ArticlePreview.Inline .meta { width: 450px; }

#byViews { display: none; }

/* @Section: Comments (#Comments) */
#Comments .Form1 { margin-bottom: 20px; }
#Comments .subheader { height: 21px; border-width: 0 1px; line-height: 21px; }
	#Comments .subheader p { float: left; margin: 0; line-height: 100%; }
	#Comments .profanity { float: right; }
#Comments .ReplyTo { padding: 10px; background-color: #f5f5f5; }
	#Comments .Comment .open { background-color: #f5f5f5; }

.Comments { margin: 0 0 20px; }
.Comment { list-style: none; clear: both; margin-bottom: 10px; }
	.Comment .meta { min-height: 30px; padding: 2px 5px; background-color: #f5f5f5; line-height: 30px; }
	.Comment .user { height: 30px; font-weight: bold; color: #0c0c0c; }
	.Comment .avatar { float: left; margin-right: 20px; }
	.Comment .date { float: right; height: 30px; margin: 0 30px; line-height: 30px; }
	.Comment .text { padding: 0 30px 0 20px; }
	.Comment .reply { clear: both; float: right; padding: 5px 10px 5px 15px; background: url(../images/sprite.png) no-repeat -288px -141px; font-style: italic; }
.Reply { margin-left: 60px; }

/* @Module: New Articles Carousel (#NewArticles) */
#NewArticles { margin: 0; }
	#NewArticles .Carousel { width: 960px; height: 110px; }
	#NewArticles .item { width: 318px; min-height: 110px; padding-bottom: 0; }
	#NewArticles .ArticlePreview.Inline .meta { width: 135px; margin: 20px 0; }

/* @Module: Recommended Article Carousel (#Recommended) */
#Recommended .Carousel { width: 648px; height: 233px; }
#Recommended .item { width: 215px; min-height: 200px; }
#Recommended .ArticlePreview .meta { margin: 160px 10px 0; }

/* @Module Cracked Stuff (#CrackedStuff) */
#CrackedStuff { margin-bottom: 0; padding: 0 15px 19px; }
	#CrackedStuff .Carousel { width: 960; height: 174px; }
	#CrackedStuff .item { width: 158px; min-height: 160px; }
	#CrackedStuff .ArticlePreview .meta { margin: 122px 10px 0; }

/* @Module: Craption (#Craption) */
#Craption p { padding: 10px; margin: 0; border: 1px solid #f5f5f5; border-width: 0 1px 1px; }

/* @Module: Craption (#Craption) */
#FeaturedVideo .meta { margin: 175px 0 0; }
#FeaturedVideo .Thumbnail { top: 10px; }
#SecondaryContent #FeaturedVideo .body { border-width: 1px; }

/* @Module: Video Series (#VideoSeries) */
#VideoSeries .item { list-style: none; height: 100px; margin-bottom: 10px; padding-bottom: 10px; background: url(../images/drop-shadows.png) no-repeat 102px right;  }
#VideoSeries .item:last-child { margin-bottom: 0; }
#VideoSeries a { display: block; height: 100%; border: 1px solid #666; }
#VideoSeries a:hover { background-color: #f5f5f5 url(/); }
#VideoSeries .name { float: right; }
#VideoSeries .Thumbnail { float: left; }
