/*--------------------------------------------
Common Style Sheet (for FF3, Safari 3, Chrome 1)

version:     1.0
author:      Greg Allen, Corey Hinds, Chris Newton
website:     http://www.ehow.com
--------------------------------------------*/

/* =Reset 
--------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html { background-color:#fff; color:#333; }

body { font-family:Arial, Helvetica, sans-serif; font-size:small; color:#333; }
* html body { font-size:x-small; f\ont-size:small; }

a { text-decoration:none; cursor:pointer; color:#0364a4; }
	a:visited { text-decoration:none; }
	a:hover { text-decoration:underline; }
	a:focus { outline-style:none; }
	a:active { outline:none; }

	a img { border:none; }
	
p { margin:10px 0px; }

h1, h2, h3, h4, h5 { font-weight:normal; font-size:100%; margin:0px; padding:0px; }

table { border-collapse:collapse; }

ul { list-style-type:none; }
ol { margin-left: 25px; }


/* =Generic Tags 
--------------------------------------------*/

.CLR { clear:both; }

/* Float Container */
.FLC { clear:both; }
.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	/* IE6 work-around \*/
	* html .FLC { height:1%; }
	
	/* IE7 work-around */
	html > body .FLC { height:auto; max-height:12000000px; }

/* =Templates
--------------------------------------------*/
.Frame { width:990px; margin:0 auto; }

.Column1,
.Column2,
.Column3 { float:left; display:inline; }

#Template1a {  } /* 1 column layout */

#Template2a {  } /* 2 column layout */
	#Template2a .Column1 { width:670px; margin:0; }
	#Template2a .Column2 { float:right; width:300px; margin:0; }

#Template2b {  } /* 2 column layout */
	#Template2b .Column1 { width:200px; margin:0; }
	#Template2b .Column2 { float:right; width:770px; margin:0; }

#Template2c {  } /* 2 column layout */
	#Template2c .Column1 { width:160px; margin:0; }
	#Template2c .Column2 { float:right; width:810px; margin:0; }

#Template3a {  } /* 3 column layout */
	#Template3a .Column1 { width:180px; margin:0 20px 0 0; }
	#Template3a .Column2 { width:470px; margin:0; }
	#Template3a .Column3 { float:right; width:300px; margin:0; }

/* =Modules
--------------------------------------------*/
.Header {}
	.Header .Frame { border-bottom: 2px solid #ff212f; }

.Navigation {}
	.Navigation .Frame { border-bottom: 1px solid #b2b2b2; padding: 5px 0; }
		.Navigation ul { text-align: center; }
		.Navigation li { display: inline; border-right: 1px solid #b2b2b2; padding: 2px 5px; }
		.Navigation li.last { border-right: none; }
		
.Content {}
	.Content .Frame { padding: 20px 0; }

.ArtsEntertainment,
.Business,
.CareersWork,
.Cars,
.Computers,
.CultureSociety,
.Education,
.Electronics,
.FashionStylePersonalCare,
.FoodDrink,
.Health,
.HobbiesGamesToys,
.HomeGarden,
.Internet,
.Parenting,
.Pets,
.RelationshipsFamily,
.SportsFitness,
.Travel,
.Weddings { font: normal 15px/1 'Georgia'; }			

.ArtsEntertainment { color: #333333; }
.Business { color: #003366; }
.CareersWork { color: #990000; }
.Cars { color: #0066ff; }
.Computers { color: #333300; }
.CultureSociety { color: #006633; }
.Education { color: #666600; }
.Electronics { color: #0033ff; }
.FashionStylePersonalCare { color: #ff6600; }
.FoodDrink { color: #ff3333; }
.Health { color: #6600cc; }
.HobbiesGamesToys { color: #ff9933; }
.HomeGarden { color: #339900; }
.Internet { color: #663333; }
.Parenting { color: #339999; }
.Pets { color: #663300; }
.RelationshipsFamily { color: #660066; }
.SportsFitness { color: #cc0099; }
.Travel { color: #00cc99; }
.Weddings { color: #cc0066; }			

.Breadcrumbs { list-style: none; margin-left: 0; margin: 0 0 10px; }
	.Breadcrumbs li { display: inline; color: #f60; }
	.Breadcrumbs li span { color: #0364a4; }

.FeaturedContent { padding: 11px; background: url(../images/bg-featured_item.jpg) repeat-x left top; position: relative; margin: 0 0 20px; }
	.FeaturedContent .viewport { height: 266px; width: 900px; overflow: hidden; position: relative; }
		.FeaturedContent .viewport ul { height: 266px; width: 2760px; position: relative; }
			.FeaturedContent .viewport li { float: left; display: inline; width: 900px; margin-right: 20px; }
				.FeaturedContent .viewport li img { float: left; }
				.FeaturedContent .viewport li div { margin-left: 450px; font-size: 15px; }
					.FeaturedContent .viewport li div h4 { margin: 0 0 10px; }
					.FeaturedContent .viewport li div h1 { margin: 0 0 10px; font: normal 26px/1 Arial; }
					.FeaturedContent .viewport li div p { }
					.FeaturedContent .viewport li div .more {}
						.FeaturedContent .viewport li div .more span { color: #ff6600; }
	
		.FeaturedContent .controls { position: absolute; bottom: 11px; right: 11px; z-index: 50000; }
			.FeaturedContent .controls li { float: left; margin-right: 5px; }
				.FeaturedContent .controls li a { display: block; background-color: #fff; padding: 4px 7px; border: 1px solid #b2b2b2; }
				.FeaturedContent .controls li a.selected { color: #999; }


	.rotator { padding: 20px; background-color: #f3f3f3; position: relative; margin: 0 0 20px 0; }		.rotator .controls { position: absolute; bottom: 20px; right: 20px; z-index: 50000; }			.rotator .controls ul { }				.rotator .controls li { float: left; margin: 0 5px 0 0; }				.rotator .controls a { display: block; background-color: #fcfcfc; padding: 4px 7px; border: 1px solid #d7d7d7; }				.rotator .controls a.selected { color: #999; }		.rotator .viewport { height: 266px; width: 900px; overflow: hidden; position: relative; }
			.rotator .viewport ul { height: 266px; width: 2760px; position: relative; }				.rotator .viewport li { float: left; width: 900px; display: inline; margin: 0 20px 0 0; }					.rotator .viewport li img { float: left; }					.rotator .viewport li div { margin-left: 450px; font-size: 16px; }						.rotator .viewport li div h3 { margin: 0 0 10px 0; }						.rotator .viewport li div h1 { font-size: 26px; margin: 0 0 20px 0; }						.rotator .viewport li div p { margin: 0 0 1em 0; line-height: 1.5em; }						.rotator .viewport li div .more span { color: #ff6600; }		.over { border-color: #999; }


.editorPicks {}
	.editorPicks h2 { margin: 0 0 10px; font: bold 21px/1 Arial; }
	.editorPicks ul {}
	.editorPicks li { width: 215px; float: left; display: inline; margin-right: 12px; }
	.editorPicks li.last { margin-right: 0; }
		.editorPicks li .itemImage { display: block; width: 215px; height: 125px; overflow: hidden; margin: 0 0 10px; }
		.editorPicks li h4 { margin: 0 0 5px; }
		.editorPicks li h3 { font-size: 15px; }
		.editorPicks li .more span { color: #ff6600; }

#Template2a #Home .Column1 { margin: 0 0 20px; }
#Template2a #Home .Column2 { margin: 30px 0 0; }

.PopularCategories { clear: both; margin: 0 0 20px; }
	.PopularCategories .nav { margin: 0 0 10px; padding-left: 5px; border-bottom: 1px solid #b2b2b2; }
		.PopularCategories .nav li { float: left; display: inline; width: 150px; height: 33px; margin: 0  2px; background: url(../images/bg-nav.jpg) no-repeat left top; padding-left: 5px; }
			.PopularCategories .nav li a { height: 100%; display: block; background: url(../images/bg-nav.jpg) no-repeat right top; padding-right: 5px; text-align: center; font: bold 16px/33px Arial; }
		.PopularCategories .nav li.selected { background: url(../images/bg-nav.jpg) no-repeat left bottom; }
			.PopularCategories .nav li.selected a { background: url(../images/bg-nav.jpg) no-repeat right bottom; color: #333; }
	.PopularCategories .container { border-bottom: 1px solid #b2b2b2; padding: 0 0 10px; }
		.PopularCategories .container ul { display: none; }
		.PopularCategories .container li { width: 185px; float: left; display: inline; margin-right: 7px; padding-right: 7px; border-right: 1px solid #b2b2b2; }
		.PopularCategories .container li.last { margin-right: 0; padding-right: 0; border-right: none; }
			.PopularCategories .container li .itemImage { display: block; width: 185px; height: 125px; overflow: hidden; margin: 0 0 10px; font-size: 13px; }

.AdModule { margin: 0 0 20px; padding: 0 0 20px; border-bottom: 1px solid #b2b2b2; text-align: center; }
.Ad300 { margin: 0 0 20px; }

.Footer { color:#0364a4; text-align: center; }
	.Footer li { display: inline; border-right: 1px solid #b2b2b2; padding: 0 10px; }
	.Footer li.last { border-right: none; }


#Category {}
	#Category h1 { margin: 0 0 20px; font: normal 28px/1 Georgia; }

	#Category .featuredContent { margin: 0 0 20px; }
		#Category .featuredContent img { float: left; display: inline; width: 315px; margin-right: 20px; }
		#Category .featuredContent ul { float: left; display: inline; width: 315px; margin-left: 20px; }
			#Category .featuredContent ul li { list-style: disc; color: #ff6600; }
				#Category .featuredContent ul li .title { font-size: 15px; }
				#Category .featuredContent ul li p { color: #333; }
				#Category .featuredContent ul li .more span { color: #ff6600; }

	#Category .featuredArticles {}
		#Category .featuredArticles h4 { margin: 0 0 10px; font: bold 21px/1 Arial; }
		#Category .featuredArticles ul { list-style-image: url(../images/orange_raquo.png); font-size: 15px; margin-left: 15px; }
		#Category .featuredArticles li { margin: 0 0 5px; }
	
	#Category .Column1 .AdModule { text-align: left; }	

	#Category .moreContent {  }
		#Category .moreContent h3 { margin: 0 0 10px; font: bold 18px/1 Arial; }
		#Category .moreContent .categories { border: 1px solid #b2b2b2; padding: 10px; }
			#Category .moreContent .categories .category { margin: 0 0 20px; }
				#Category .moreContent .categories .category .categoryTitle { border-bottom: 1px solid #000; margin: 0 0 10px; padding: 0 0 5px; font: bold 18px/1 Arial; }
				#Category .moreContent .categories .category ul { margin: 0 0 0 20px; }
				#Category .moreContent .categories .category li { margin: 0 0 10px; }	
	
#Article {}
	#Article h1 { margin: 0 0 5px; font: normal 28px/1 Georgia; }
	#Article cite { clear: both; display: block; margin: 0 0 20px; }
	#Article .aside { float: left; display: inline; width: 160px; }
		#Article .aside .moreLikeThis { margin: 0 0 20px; }
			#Article .aside .moreLikeThis h4 { border-bottom: 1px solid #b2b2b2; margin: 0 0 10px; padding: 0 0 10px; font-weight: bold; }
				#Article .aside .moreLikeThis h4 span { color: #f60; }
			#Article .aside .moreLikeThis ul { margin-left: 10px; }
			#Article .aside .moreLikeThis li { border-bottom: 1px solid #b2b2b2; margin: 0 0 10px; padding: 0 0 10px; }
	
	#Article .article { float: right; display: inline; width: 470px; }
		#Article .article img { display: block; margin: 0 0 20px; }
	#Article .article { float: right; display: inline; width: 470px; }

	#Article .moreContent {  }
		#Article .moreContent h3 { margin: 0 0 10px; font: bold 18px/1 Arial; }
		#Article .moreContent .categories { border: 1px solid #b2b2b2; padding: 10px; }
			#Article .moreContent .categories li { margin: 0 0 10px; padding: 4px; }
			#Article .moreContent .categories li.alt { background-color: #f8f8f8; }
				#Article .moreContent .categories li img { float: left; width: 33px; height: 33px; margin-right: 10px; }
				#Articlem .moreContent .categories li { margin: 0 0 10px; }
