<meta charset="utf-8" />
<meta name="author" content="Newton" />
<meta name="description" content="{{ site.github.project_tagline }}" />

<!-- IE meta tag, force it to Edge compatibility -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- not sure what this is, found it in HTML5 Boilerplate -->
<meta http-equiv="cleartype" content="on" />

<!-- iPhone meta tag (width=device-width letterboxes on iPhone 5) -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- iPhone meta tag (Smart Banner) -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-title" content="{{ site.github.project_title }}" />
