/*--------------------------------------------
 * Global Common (for Firefox, Safari, Chrome)
 *
 * version:     2.0
 * author:      Chris Newton, with help from Eric Meyer (http://meyerweb.com/eric/thoughts/2011/01/03/reset-revisited/)
 * website:     http://privateprotectiveservices.com/
 * --------------------------------------------*/

/* =Reset 
 * --------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
    display: block; 
}

body { 
    line-height: 1; 
}

a, 
button { 
    cursor: pointer; 
}
    a img { 
        border: none; 
    }

p { 
    margin: 2% 0; 
    line-height: 1.4em; 
}

button { 
    background-color: transparent; 
}

ol { 
    margin-left: 2%; 
}
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
}
/* =Float Container */
.FLC { 
    clear: both; 
}
.FLC:after { 
    display: block; 
    visibility: hidden; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    content: " "; 
}

/*--------------------------------------------
 * Global Typography (for Firefox, Safari, Chrome)
 *
 * version:     2.0
 * author:      Chris Newton
 * website:     http://privateprotectiveservices.com/
 * --------------------------------------------*/

/* =@Font Faces
/* Orbitron Black */
@font-face { 
    font-family: 'OrbitronBlack'; 
    src: url('../fonts/orbitron/orbitron-black-webfont.eot'); 
    src: 
        url('../fonts/orbitron/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/orbitron/orbitron-black-webfont.woff') format('woff'), 
        url('../fonts/orbitron/orbitron-black-webfont.ttf') format('truetype'), 
        url('../fonts/orbitron/orbitron-black-webfont.svg#OrbitronBlack') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

/* Orbitron Bold */
@font-face { font-family: 'OrbitronBold'; src: url('../fonts/orbitron/orbitron-bold-webfont.eot'); src: url('../fonts/orbitron/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/orbitron/orbitron-bold-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-bold-webfont.ttf') format('truetype'), url('../fonts/orbitron/orbitron-bold-webfont.svg#OrbitronBold') format('svg'); font-weight: normal; font-style: normal; }

/* Orbitron Medium */
@font-face { font-family: 'OrbitronMedium'; src: url('../fonts/orbitron/orbitron-medium-webfont.eot'); src: url('../fonts/orbitron/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/orbitron/orbitron-medium-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-medium-webfont.ttf') format('truetype'), url('../fonts/orbitron/orbitron-medium-webfont.svg#OrbitronMedium') format('svg'); font-weight: normal; font-style: normal; }

/* Orbitron Regular */
@font-face { font-family: 'OrbitronRegular'; src: url('../fonts/orbitron/orbitron-regular-webfont.eot'); src: url('../fonts/orbitron/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/orbitron/orbitron-regular-webfont.woff') format('woff'), url('../fonts/orbitron/orbitron-regular-webfont.ttf') format('truetype'), url('../fonts/orbitron/orbitron-regular-webfont.svg#OrbitronRegular') format('svg'); font-weight: normal; font-style: normal; }

/* =Global: */
html { color: #a9c7d9; }
body { font-family: 'Trebuchet MS', Arial, sans-serif; font-size: medium; }

a { text-decoration: none; color: #fff; }
a:hover { text-decoration: underline; }

/* =Global: Headings */
.Heading1 { font-size: 3.625em; } /* 58px */
.Heading2 { font-size: 1.5em; } /* 24px */
.Heading3 { font-size: 1.3125em; font-weight: bold; text-shadow: 0 0 2px rgb(62, 106, 132); text-transform: uppercase; color: #fff; } /* 21px */
.Heading4 { font-size: 1.125em; } /* 18px */
.Heading5 { font-size: 0.875em; } /* 14px */
.Heading6 { font-size: 0.75em; } /* 12px */
.Note { font-size: 0.625em; } /* 10px */

.Logo .heading { 
    font-family: OrbitronRegular; 
    text-shadow: 0 1px 2px rgba(255,255,255,0); 
    color: #5c5c5c; 
}

html { 
    background-color: rgb(8,33,47);
}

.Frame {
    width: 960px;
    margin: 0 auto;
}

#Header {
    height: 99px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    border-bottom: 1px solid rgb(46,101,133);
    padding-top: 15px;
    background-color: rgb(0,0,0);
}

#Body {
    background-color: rgb(0,0,0);
}

/*--------------------------------------------
* Global Templates (for all browsers)
*
* version:    1.0
* author:     Chris Newton
* website(s): http://www.ehow.com/ 
*             http://www.ehow.co.uk/
*
* =Grid
--------------------------------------------*/
.Grid1,
.Grid2,
.Grid3,
.Grid4,
.Grid5,
.Grid6,
.Grid7,
.Grid8,
.Grid9,
.Grid10,
.Grid11,
.Grid12 {
    display: inline;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}

.Push1, .Pull1,
.Push2, .Pull2,
.Push3, .Pull3,
.Push4, .Pull4,
.Push5, .Pull5,
.Push6, .Pull6,
.Push7, .Pull7,
.Push8, .Pull8,
.Push9, .Pull9,
.Push10, .Pull10,
.Push11, .Pull11 {
    position: relative;
}

/* =Children (Alpha ~ First, Omega ~ Last)
* --------------------------------------------*/
.Alpha {
    margin-left: 0;
}

.Omega {
    margin-right: 0;
}

/* =Columns
* --------------------------------------------*/
.Grid1 {
    width: 6.3333%;
}

.Grid2 {
    width: 14.666%;
}

.Grid3 {
    width: 23%;
}

.Grid4 {
    width: 31.333%;
}

.Grid5 {
    width: 39.666%;
}

.Grid6 {
    width: 48%;
}

.Grid7 {
    width: 56.333%;
}

.Grid8 {
    width: 64.666%;
}

.Grid9 {
    width: 73%;
}

.Grid10 {
    width: 81.333%;
}

.Grid11 {
    width: 89.666%;
}

.Grid12 {
    width: 98%;
}

/* Prefix Extra Space
* --------------------------------------------*/
.Prefix1 {
    padding-left: 8.333%;
}

.Prefix2 {
    padding-left: 16.666%;
}

.Prefix3 {
    padding-left: 25%;
}

.Prefix4 {
    padding-left: 33.333%;
}

.Prefix5 {
    padding-left: 41.666%;
}

.Prefix6 {
    padding-left: 50%;
}

.Prefix7 {
    padding-left: 58.333%;
}

.Prefix8 {
    padding-left: 66.666%;
}

.Prefix9 {
    padding-left: 75%;
}

.Prefix10 {
    padding-left: 83.333%;
}

.Prefix11 {
    padding-left: 91.666%;
}

/* Suffix Extra Space
* --------------------------------------------*/
.Suffix1 {
    padding-right: 8.333%;
}

.Suffix2 {
    padding-right: 16.666%;
}

.Suffix3 {
    padding-right: 25%;
}

.Suffix4 {
    padding-right: 33.333%;
}

.Suffix5 {
    padding-right: 41.666%;
}

.Suffix6 {
    padding-right: 50%;
}

.Suffix7 {
    padding-right: 58.333%;
}

.Suffix8 {
    padding-right: 66.666%;
}

.Suffix9 {
    padding-right: 75%;
}

.Suffix10 {
    padding-right: 83.333%;
}

.Suffix11 {
    padding-right: 91.666%;
}

/* Push Space
* --------------------------------------------*/
.Push1 {
    left: 8.333%;
}

.Push2 {
    left: 16.666%;
}

.Push3 {
    left: 25%;
}

.Push4 {
    left: 33.333%;
}

.Push5 {
    left: 41.666%;
}

.Push6 {
    left: 50%;
}

.Push7 {
    left: 58.333%;
}

.Push8 {
    left: 66.666%;
}

.Push9 {
    left: 75%;
}

.Push10 {
    left: 83.333%;
}

.Push11 {
    left: 91.666%;
}

/* Pull Space
* --------------------------------------------*/
.Pull1 {
    left: -8.333%;
}

.Pull2 {
    left: -16.666%;
}

.Pull3 {
    left: -25%;
}

.Pull4 {
    left: -33.333%;
}

.Pull5 {
    left: -41.666%;
}

.Pull6 {
    left: -50%;
}

.Pull7 {
    left: -58.333%;
}

.Pull8 {
    left: -66.666%;
}

.Pull9 {
    left: -75%;
}

.Pull10 {
    left: -83.333%;
}

.Pull11 {
    left: -91.666%;
}

body {
    background-color: rgb(8,33,47);
}
#Body {
    padding: 4% 0;
    background-color: rgb(0,0,0);
}
#Header {
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    border-bottom: 1px solid rgb(46,101,133);
    padding: 4.666%;
    background-color: rgb(0,0,0);
}

.Logo {
    display: block;
}
.Logo .heading span {
    display: block;
    position: relative;
    height: 33px;
    margin: 1%;
    background-repeat: no-repeat;
    text-indent: -999em;
}
.Logo .heading .one {
    width: 207px;
    background-image: url('../images/private.png');
}
.Logo .heading .two {
    width: 308px;
    background-image: url('../images/protective.png');
    background-size: 99% 99%;
}
.Logo .heading .three {
    width: 252px;
    background-image: url('../images/services.png');
}
.Logo .heading .four {
    position: relative;
    top: 7px;
    left: -13px;
    width: 80px;
    background-image: url('../images/inc.png');
}
.Logo .image {
    display: none;
    box-shadow: 0 0 10px rgba(255,255,255,.8);
    border: 3px solid rgba(255,255,255,.8);
    border-radius: 60px;
}
#Hero {
    background: url('../images/carousel-bg.png') no-repeat center top;
}
#Hero .stage {
    margin-left: 0;
    border-bottom: 1px solid rgb(0,0,0);
}
#Hero .stage .item {
    position: relative;
    list-style: none;
    text-align: center;
}
#Hero .stage .item:nth-child(1) {
    display:block;
}
#Hero .stage .item {
    display: none;
}
#Hero .stage .heading {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 2%;
    background-color: rgba(10,107,164,.8);
    text-align: left;
    color: rgb(255,255,255);
}
#Hero .stage img {
    max-width: 100%;
}

#Hero .navigation {
    margin-left: 0;
    border-top: 1px solid rgb(46, 101, 133);
    padding: 2% 0;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(rgb(23,52,69)),to(rgb(12,27,36)));
    background-image: -moz-linear-gradient(100% 100% 90deg, rgb(23,52,69), rgb(12,27,36));
    background-image: linear-gradient(100% 100% 90deg, rgb(23,52,69), rgb(12,27,36));
    background-color: rgb(12,27,36); 
    text-align: center;
}

    #Hero .navigation .item {
        display: inline-block;
        width: 15px;
        height: 15px;
        box-shadow: 1px 1px 1px rgb(21,48,63) inset;
        border-color: rgb(21,48,63) rgb(39,89,119) rgb(118,173,205);
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        background-image: -webkit-gradient(linear,0% 0,0% 100%,from(rgb(21,48,63)),to(rgb(68,123,155)));
        background-image: -moz-linear-gradient(100% 100% 90deg, rgb(55,110,142), rgb(3,7,9));
        background-image: linear-gradient(100% 100% 90deg, rgb(55,110,142), rgb(3,7,9));
        background-color: rgb(12,27,36); 
        text-indent: -999em;
    }
    #Hero .navigation .current {
        box-shadow: none;
        border-color: rgb(21,48,63) rgb(26,60,80) rgb(3,7,9);
        background-image: -webkit-gradient(linear,0% 0,0% 100%,from(rgb(55,110,142)),to(rgb(3,7,9)));
        background-image: -moz-linear-gradient(100% 100% 90deg, rgb(55,110,142), rgb(3,7,9));
        background-image: linear-gradient(100% 100% 90deg, rgb(55,110,142), rgb(3,7,9));
        background-color: rgb(12,27,36); 
    }

.Skills .item { 
    min-height: 215px;
    margin: 2% 0;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    border-width: 20px; 
    -webkit-border-image: url(../images/border.png) 20 20 20 20 repeat; 
    -moz-border-image: url(../images/border.png) 20 20 20 20 repeat; 
    border-image: url(../images/border.png) 20 20 20 20 repeat; 
    padding: 4% 2%; 
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(rgb(23,43,54)),to(rgb(14,26,33)));
    background-image: -moz-linear-gradient(100% 100% 90deg, rgb(14,26,33), rgb(23,43,54));
    background-image: linear-gradient(100% 100% 90deg, rgb(14,26,33), rgb(23,43,54));
    background-color: rgb(14,26,33); 
}
    .Skills .item p {
        max-width: 95%;
    }

#Job { 
    margin: 2% 0; 
    border-top: 1px solid rgb(46,101,133);
    padding: 2% 4.666%; 
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#173445),to(#0c1b24)); 
}
    #Job .heading {
        margin: 2% 0;
        text-transform: inherit;
        color: rgb(163,201,224);
    }

.Button { 
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0,0,0,.35); 
    border: 1px solid #386f8f; 
    border-radius: 2px; 
    border-color: #386f8f #204961 #0f232e; 
    -moz-border-right-colors: #346b8b #386f8f #295e7d #23516c #204961 #1a3c50 #183748 #132b39 #102531; 
    -moz-border-left-colors: #346b8b #386f8f #295e7d #23516c #204961 #1a3c50 #183748 #132b39 #102531; 
    padding: 1.5% 1%; 
    background-color: rgb(21,49,65); 
    background-image: -moz-linear-gradient(top, rgba(21,49,65,1) 0%, rgba(23,53,71,1) 10%, rgba(27,61,82,1) 49%, rgba(30,68,91,1) 51%, rgba(15,34,45,1) 51%, rgba(13,30,40,1) 95%, rgba(12,28,37,1) 100%); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,49,65,1)), color-stop(10%,rgba(23,53,71,1)), color-stop(49%,rgba(27,61,82,1)), color-stop(51%,rgba(30,68,91,1)), color-stop(51%,rgba(15,34,45,1)), color-stop(95%,rgba(13,30,40,1)), color-stop(100%,rgba(12,28,37,1))); 
    background: -webkit-linear-gradient(top, rgba(21,49,65,1) 0%,rgba(23,53,71,1) 10%,rgba(27,61,82,1) 49%,rgba(30,68,91,1) 51%,rgba(15,34,45,1) 51%,rgba(13,30,40,1) 95%,rgba(12,28,37,1) 100%); 
    background-image: -o-linear-gradient(top, rgba(21,49,65,1) 0%,rgba(23,53,71,1) 10%,rgba(27,61,82,1) 49%,rgba(30,68,91,1) 51%,rgba(15,34,45,1) 51%,rgba(13,30,40,1) 95%,rgba(12,28,37,1) 100%); /* Opera11.10+ */ 
    background: -ms-linear-gradient(top, rgba(21,49,65,1) 0%,rgba(23,53,71,1) 10%,rgba(27,61,82,1) 49%,rgba(30,68,91,1) 51%,rgba(15,34,45,1) 51%,rgba(13,30,40,1) 95%,rgba(12,28,37,1) 100%); 
    background-image: linear-gradient(top, rgba(21,49,65,1) 0%,rgba(23,53,71,1) 10%,rgba(27,61,82,1) 49%,rgba(30,68,91,1) 51%,rgba(15,34,45,1) 51%,rgba(13,30,40,1) 95%,rgba(12,28,37,1) 100%); 
    font-style: italic; 
    text-shadow: 0 -1px 1px #000; 
} 
    .Button:hover { text-decoration: none; }
    .Button::after { padding-left: 5px; content: '\bb'; font-family: Arial; font-size: 1.5em; font-style: normal; }

#Footer {
    padding: 4.666% 4.666% 2%;
}
#Footer .vcard {
    min-height: 90px;
    margin: 2% 0;
}
    #Footer .vcard a {
        display: block;
    }
    #Footer .adr {
        padding-top: 3.5%;
    }
    #Footer .domain {
        display: block;
    }
#Footer .subheading { 
    float: left; 
    width: 90px; 
    height: 90px; 
    margin-right: 10px; 
    background: url(../images/logo_90x90.png) no-repeat center center; 
    text-indent: -9999em; 
}

/* Licenses */
#Footer .copyright {
    display: block;
    clear: both;
    margin: 1% 0;
}
#Footer .licenses .heading, 
#Footer .licenses .item { 
    display: inline; 
}
#Footer .licenses .heading {
    font-weight: bold;
}
#Footer .licenses .item::before { 
    padding-right: 4px; 
    content: '\2022'; 
}
#Footer .licenses .item:last-child {
    display: block;
}
#Footer .licenses .item:first-child::before, #Footer .licenses .item:last-child::before { 
    padding-right: 0;
    content: ''; 
}
/* Landscape layout fixes */
@media screen and (orientation: landscape) {
    
    #Footer .domain {
        display: inline;
    }
}
/* iPad */
@media screen and (max-width: 1024px) {
    #Header {
        height: 119px;
        padding: 2%;
    }
    .Logo .image {
        display: block;
    }
    .Logo .heading .two {
        background-size: initial;
    }
    .Skills .Grid6:nth-child(odd) {
        clear: left;
    }
    .Skills .item {
        min-height: 250px;
    }
    #Footer .licenses .item:last-child {
        display: inline;
    }
    #Footer .licenses .item:last-child::before { 
        padding-right: 4px; 
        content: '\2022'; 
    }
}
/* iPad landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
    .Logo .image span {
        display: inline-block;
    }
}
/* Desktop */
@media screen and (min-width: 1025px) {
    .Frame {
        width: 940px;
        margin: 0 auto;
    }
    #Header {
        height: 119px;
        padding: 1%;
    }
    .Logo .image {
        display: block;
    }
    .Logo .heading span {
        display: inline-block;
    }
    .Logo .heading .two {
        background-size: initial;
    }
    #Body {
        padding: 2% 0;
    }
    #Hero .navigation {
        padding: 1% 0;
    }
    #Hero .navigation .item {
        width: 25px;
        height: 25px;
        margin: 0 .25%;
    }
    .Skills .Grid6:nth-child(odd) {
        clear: left;
    }
    #Footer {
        padding: 2%;
    }
    #Footer .copyright,
    #Footer .licenses {
        display: inline-block;
    }
    #Footer .licenses .item:last-child {
        display: inline;
    }
    #Footer .licenses .item:last-child::before { 
        padding-right: 4px; 
        content: '\2022'; 
    }
}

#JobRequirements #Hero {
    padding: 1% 0 0;
}
#JobRequirements #Hero p,
#JobRequirements .jobList {
    margin: 0 0 20px;
    padding: 0 2%;
}
#JobRequirements h2 {
    margin: 2% 0;
    color: rgb(255,255,255);
}
#JobRequirements .listing {
    margin-left: 25px;
    line-height: 1.4em;
}
.jobList li {
    margin: .5% 0;
}
.jobList li::before {
    content: '\2022';
    padding-right: 5px;
}
#JobRequirements #Body ul {
    margin-left: 25px;
}
#JobRequirements .navigation li {
    height: 25px;
}
