---
layout: ocea
description: Orange County Enrolled Agents...to serve, to represent the best interests of Enrolled Agents of Orange County and to emphasize and enlighten the general public that an enrolled agent is the premier tax professional
id: Template2a
content_id: Home
stylesheet: home
tombstone_enabled: true
---

<div class="Callout">
    <p>We have two announcements to make about OCEA members at the 2011 NAEA Conference.</p>

    <p>Congratulations to OCEA's very own, newly graduated, 2011 NTPI Fellow&reg;: Coleman E. Cook, EA, CFP. "A designation which signifies unparalleled dedication to providing the highest level of representation. NTPI is a comprehensive and hands-on program which thoroughly covers all aspects of representation."</p>

    <p>Also, at this year NAEA conference, we had an OCEA member be nationally recognized for her excellence in mentoring. The 2011 Mentor of the Year Award: Sherrill Gregory Trovato, EA, USTCP</p>

    <p>If we missed you, please <a href="contact-us.html">contact us</a> so we can acknowledge you. Thank you and Congratulations!</p>
</div>

<!-- Vision section start -->
<div class="Vision FLC">

    <div class="statement">
        <div class="FLC">
            <h1 class="Heading4a">Orange County Enrolled Agents</h1>
            <p>to serve, to represent the best interests of Enrolled Agents of Orange County and to emphasize and enlighten the general public that an enrolled agent is the premier tax professional</p>
            <a href="about/">Learn more</a>
        </div>
    </div>

    <div class="gallery">
        <ul>
            <li><img src="/ui/ocea/images/gallery/hb_pier.jpg" alt="Huntington Beach Pier, Huntington Beach, CA" width="325" height="155" /></li>
        </ul>
    </div>

</div>
<!-- Vision section ends -->

<!-- Column1 starts -->
<div class="column1">

    {% include ocea/dinner-meeting.html %}
    {% include ocea/current-newsletter.html %}


</div>
<!-- Column1 ends -->

<!-- Column2 starts -->
<div class="column2">

    <!-- Events section starts -->
    <div class="vcalendar Events">
        <a href="resources/calendar.html" class="calendar">view calendar</a>
        <h2 class="Heading2a">Events</h2>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">Examination 101</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">October 18th, 2011</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Charles Rettig</dd>
                </dl>
                <p>Charles Rettig comes to us from Beverly Hills and has recently spoken at on this topic at the IRS Tax Forum in Atlanta in June.  Charles trains IRS agents and is a member of the IRS Advisory Council (IRSAC), the CA FTB Advisory Board, CA BOE Advisory Council, and numerous other professional organizations.  He is a well known speaker throughout the U.S., specializing in tax controversies.</p>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">Identity Theft and Phishing: IRS Efforts to Protect Taxpayer Privacy</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">November 15th, 2011</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Neki Cox, Sr. Stakeholder Liaison, IRS</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>1</dd>
                </dl>
                <p>Neki Cox is a stakeholder relationship manager with the IRS, and coordinates IRS seminars, meetings and multi-speaker engagements.  She has been with the IRS since 1995, has been in the Exam Division as an Auditor, Earned Income Credit Coordinator, and E-file Marketing Specialist.  Identity Theft has been the number one consumer complaint reported to the Federal Trade Commission for 11 years in a row.  The average victim of incidents related to government benefits spends 141 hours and $2104 to resolve identity theft incidents.  The IRS is strongly committed to maintaining public trust in tax administration and protecting security and privacy for taxpayers.  Neki will teach us about the Identity Protection Specialized Unit the IRS has created, as well as other available resources.  This knowledge is important for us to convey to our clients during the upcoming tax season, and will add even more value to what we do for our clients.</p>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">Know Your Aging Taxpayer and Tax Preparer!</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">December 20th, 2011</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Beanna Whitlock, EA</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>1</dd>
                </dl>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">Quickfinder/Taxbook Review</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">January 17th, 2012</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Vicki Mulak, EA &amp; John Rumbold, EA</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>2</dd>
                </dl>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">IRS, FTB, and BOE 2012 Practitioners Seminars</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">January 11th, 2012</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://hilton.com" class="fn org url">Hilton Irvine</a>
                <div class="adr">
                    <div class="street-address">18800 MacArthur Boulevard</div>
                    <span class="locality">Irvine</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92612</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <p><a href="media/flyers/2012-practitioners-flyer.pdf">Download the flyer</a>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">California Update</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">February 21st, 2012</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Lynn Freer, EA</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>1</dd>
                </dl>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">Ethics</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">May 15th, 2012</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div>

            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Russell Fox, EA</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>2</dd>
                </dl>
            </div>

        </div>

        <div class="vevent">

            <a href="" class="signUp Button1"><span>sign up</span></a>
            <h3 class="summary Heading5a">December LLC Workshop</h3>

            <div>
                <span class="title">Date</span>
                <abbr class="dtstart" title="">December 20th, 2012</abbr>
            </div>

            <div class="title">Location</div>
            <div class="vcard location">
                <a href="http://www.thephoenixclub.com" class="fn org url">Phoenix Club</a>
                <div class="adr">
                    <div class="street-address">1340 S Sanderson Ave.</div>
                    <span class="locality">Anaheim</span>, 
                    <abbr class="region" title="California">CA</abbr> 
                    <span class="postal-code">92806</span> 
                    <div class="country-name">United States</div>
                </div>
            </div> 
            <div class="description">
                <dl>
                    <dt class="title">Speakers</dt>
                    <dd>Beanna Whitlock, EA</dd>
                    <dt class="title">CPE Credits</dt>
                    <dd>8</dd>
                </dl>
            </div>
        </div>

    </div>
    <!-- Events section ends -->

    <p class="info">*All events <a href="">you've registered</a> for can be viewed or changed.	<a href="">Sign up</a> is available for any event we've set up. You can also edit the information you've given for any events as well.</p>

</div>
<!-- Column2 ends -->
