/*--------------------------------------------
Global Article (for FF3, Safari 3, Chrome 1, IE9)

version:     3.0
author:      Chris Newton
website:     http://cracked.com/
--------------------------------------------*/

/* @Section: Article Body */
.Article { margin-bottom: 0; }
#articleTitle { margin-bottom: 5px; font-style: italic; }
#editorLogo { display: block; margin-bottom: 10px; }

/* @Section: Article Meta Data (#metadata) */
#metadata { position: relative; min-height: 15px; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dotted #666; }
	#metadata .byline { float: left; display: inline; }
	#metadata .date, #metadata .comments { margin-left: 5px; padding-left: 5px; border-left: 1px solid #666; }
	#metadata .date, #metadata .views, #metadata .comments { float: left; height: 15px; line-height: 18px; }
	#metadata .favorites { display: block; position: absolute; right: 0; margin-top: 7px; padding: 5px 10px 5px 25px; background: #f5f5f5 url(/ui/shared/images/sprite.png) no-repeat 4px -771px; border: 1px solid #666; color: #0c0c0c; }
#metadata.Inline { min-height: 40px; }
	#metadata.Inline .meta { width: 580px; }
	#metadata.Inline .byline { float: none; display: block; margin-bottom: 5px; }
	#metadata.Inline .date { margin-left: 0; padding-left: 0; border-left: none; }

/* =Global: Subheading (.subheading) */
.subheading { border: 1px solid #898989; border-width: 1px 0; margin: 30px 0; padding: 10px 0; }

/* @Module: Pagination (.Pagination) */
.Pagination { width: 320px; margin: 20px auto; }

/* =Global: Widescreen Video (.Widescreen) */
.Widescreen .Article { width: 960px; }
.Widescreen #SecondaryContent { margin-top: 590px; }

#videoPlayer { margin-bottom: 20px; }



/* =Page: Article (#Article) */

/* =Page: Video (#Video) */
#Video #metadata { margin-bottom: 0; padding-bottom: 0; border-bottom: none; font-style: italic; }
#Video #metadata .views, #Video #metadata .comments { float: right; }