/*--------------------------------------------
Topic Page Style Sheet (for FF3, Safari 3, Chrome 1)

version:     1.0
author:      Chris Newton, Cody Silva
website:     http://www.answerbag.com
--------------------------------------------*/
.moreContent { display: block; text-align: right; }

.FeaturedQuestion {}
    .FeaturedQuestion .image { float: left; margin-right: 10px; }
    .FeaturedQuestion .question { margin-left: 315px; }
        .FeaturedQuestion .question p { margin: 0; }
        .FeaturedQuestion .question .content { position: relative; }
            .FeaturedQuestion .question .content p { margin: 0 0 15px; }
            .FeaturedQuestion .question .content .AnswerForm { }
                .FeaturedQuestion .question .content .AnswerForm textarea { margin: 0 0 5px; }
            .FeaturedQuestion .question .content .Tools { position: absolute; bottom: 10px; right: 10px; }

.videos { margin: 0 0 20px; }
    .videos li { float: left; display: inline; width: 200px; margin-right: 15px; margin-bottom: 15px; }
    .videos li.last { margin-right: 0; }
        .videos li p { margin: 0; }

.articles { margin: 0 0 20px; }
    .articles li { margin: 0 0 10px; }
    .articles li:last-child { margin: 0; }
        .articles li .itemAvatar { float: left; display: inline; width: 150px; margin-right: 10px; }
        .articles li .itemContent { float: left; display: inline; width: 470px; }
            .articles li .itemContent p.Note { margin: 0; }

.imagesVote { margin: 0 0 20px; }
    .imagesVote li { float: left; display: inline; width: 150px; margin-right: 10px; margin-bottom: 20px; text-align: center; }
    .imagesVote li.last { margin-right: 0; }

.blogs { margin: 0 0 20px; }
    .blogs li { margin: 0 0 20px; }
    .blogs li:last-child { margin: 0 0 15px; }
        .blogs li p { margin: 5px 0 0; }

.aboutTopic { margin: 0 0 20px; }
    .aboutTopic strong { display: block; font-weight: bold; }

.topicDefinition { margin: 0 0 20px; }
    .topicDefinition dt {}
        .topicDefinition dt strong { font-weight: bold; }
    .topicDefinition dd { margin: 10px 0 10px 20px; }
        .topicDefinition dd em { font-style: italic; }

.topicTranslated { margin: 0 0 20px; }
    .topicTranslated li { margin: 0 0 5px; }

.topicsModule { margin: 0 0 20px; }
    .topicsModule li { margin: 0 0 10px; height: 25px; }
        .topicsModule li a { display: block;  }
        .topicsModule li a:hover { text-decoration: none; }
            .topicsModule li a img { float: left; margin-right: 10px; }
            .topicsModule li a span { float: left; height: 25px; line-height: 25px; }
    
.browseList { margin: 0 0 20px; }
    .browseList dt { font-weight: bold; }
    .browseList dd { display: inline; margin-right: 5px; }
    .browseList .recent { border-left: 1px solid #000; padding-left: 5px; }
    
.popularCategories {}
    .popularCategories li { float: left; display: inline; width: 288px; margin: 0 10px 10px 0; padding: 10px; }
    .popularCategories li.last { margin: 0 0 10px 0; }
        .popularCategories li dt { margin: 0 0 5px; }
        .popularCategories li dd { float: left; display: inline; margin-right: 10px; position: relative; }
        .popularCategories li dd.last { margin-right: 0; }
            .popularCategories li dd img { display: block; }
            .popularCategories li dd span { display: block; position: absolute; width: 100%; bottom: 0; background-color: #fff; padding: 2px 5px; opacity: .8; }
    
#TopicLanding {}
    #Template2a #TopicLanding .SearchAnswers .textInput { width: 520px; }
