---
layout: ocea
stylesheet: about
id: Template2a
content_id: About
title: About the Orange County Enrolled Agents
description: As we all struggle with the ever-changing economy it's appropriate for us to think about the benefits we receive from our annual dues.  As you write the check and send it off to Sacramento, you should be reminded of all you receive for your money.
breadcrumb_enabled: true
directory: About
tombstone_enabled: true
---

<!-- Column1 starts -->
<div class="column1">

    {% include ocea/dinner-meeting.html %}

    <div class="title Heading2a">Upcoming Events</div>
    {% include ocea/upcoming-events.html %}

</div>
<!-- Column1 ends -->

<!-- Column2 starts -->
<div class="column2">

    <h1 class="Heading2a">Why the Orange County Enrolled Agents?</h1>

    <p>As we all struggle with the ever-changing economy it's appropriate for us to think about the benefits we receive from our annual dues.  As you write the check and send it off to Sacramento, you should be reminded of all you receive for your money.</p>

    <p>Some of the benefits are obvious.  You have the chance to meet your peers once a month and network.  Haven't we all brought a tax problem to the meeting to discuss with other <abbr title="Enrolled Agent">EA</abbr>'s sitting at our dinner table?  We can pick up the phone and give a fellow <abbr title="Enrolled Agent">EA</abbr> a call (or send an email) to brain storm a tax or representation issue.  We get to hear the latest on a variety of topics from top notch local and regional speakers at the monthly meetings.  We get a discount on other continuing education events.  We get the monthly newsletter that keeps us up to date with other chapter events.</p>

    <p>Some of the other benefits are not so obvious.  As a member of the Orange County Chapter of <abbr title="Enrolled Agent">EA</abbr>'s you are demonstrating your commitment to excellence in your profession.  Membership in professional organizations shows that you are interested in a certain status within your profession.  It shows you want to participate, to lead, or to contribute to something bigger than your own little world.</p>

    <p>Please do take a moment and reflect.  By being a member of the Orange County Chapter of <abbr title="Enrolled Agent">EA</abbr>'s you are helping strengthen the "enrolled agent" credential.  And we all benefit by our strength in numbers.</p>

    <h1 class="Heading2a">Member Benefits</h1>

    <ul class="memberBenefits FLC">
        <li>
            <p><span>A Sense of Community</span> - We have over 4,100 members to network and share information with, specializing in various aspects of taxes.</p>
        </li>
        <li>
            <p><span>Education Discounts</span> - Through CSEA, provided are educational discounts on events such as Super Seminar, Liaison Meetings, EA Workshops, Audio Tax, C-STAR and more.</p>
        </li>
        <li>
            <p><span>Subscription to CSEA Magazine.</span> - Up to date information provided in the form of various newsletters and subscriptions that will keep you well informed with your tax news.</p>
        </li>
        <li>
            <p><span>Advertising</span> - Looking to sell a practice or hire a new employee; both the CSEA Magazine and OCEA monthly newsletter offer free advertising in their perspective media.</p>
        </li>
        <li>
            <p><span>Resource Discounts</span> - Reference materials can be pricey. For your most important resource needs, OCEA can offer discounts on things like CCH Tax Manuals, Quickfinder Handbooks and the Tax Book.</p>
        </li>
        <li>
            <p><span>The Largest Chapter</span> - Having over 400 members alone in our chapter, we have the most extensive network of people to form long lasting business relationships.</p>
        </li>
    </ul>

    <h2 class="Heading2a">What Members Have to Say</h2>

    <blockquote>
        <p>When I moved back to Southern California in 2003 I wanted to find a local chapter of the National Association of Enrolled Agents to join.  I belonged to a chapter in Portland Oregon and had made many great friends there.  I already knew the value of getting to know fellow enrolled agents and meeting once a month to share ideas and exchange tax prep challenges.</p>

        <p>I looked on the web to find a local EA chapter back in 2003 and the best local web site out there was the Orange County Chapter.  I started attending the monthly meetings and before I knew it I had volunteered to help out at the Board meetings.  As our tax practices have changed over the years, as we continue to add more and more electronic services for our clients and struggle to keep up with a web based world, I wanted to be associated with a group that WAS keeping up with the latest societal trends and business "best practices."  I have found our chapter to be one of the best resources to keep up with all these changes.  And I am so happy to have been a part of our Chapter's progress toward the electronic future.</p>
        <div>by Donna Miller, EA</div>
    </blockquote>

    <blockquote>
        <p>I inherited my mother's tax practice in 1996 when she passed away. Three members of the OCEA attended her funeral and offered me assistance; another sent me to the SEE class to get better qualified for the road ahead informing me it was the best education of its kind. He was right. I passed the enrollment exam in the fall of 1996.The members teaching the SEE class also encouraged me to join inviting me to attend a dinner meeting. They welcomed me to my first meeting like I was family and maybe I was, because most of them had known my mother. I have missed very few meeting since then.</p>
        <p>I have met many more since that evening years ago and these members, my colleagues, my competitors have mentored me through many storms. There are not many industries where your competitors will encourage you and send you on the path to improving yourself. As a result of their encouragement and mentoring I have completed NTPI, C-Star and countless hours of education turning a small home practice into a going concern with employees. <span>How do you put a value on this?</span></p>
        <div>by Lisa Newton, EA</div>
    </blockquote>

</div>
<!-- Column2 ends -->
