/* =Color Scheme 
 * --------------------------------------------*/
html,
body {
	background-color: rgb(252,252,252);
}
p {
	color: rgb(136,136,136);
}
.Heading1,
.Heading2,
.Heading3,
.Heading4,
.Heading5,
.Heading6 {
	color: rgb(73,73,73);
}
.Header {
	background-color: rgb(30,110,167);
	color: rgb(255,255,255);
}
	.Header .cta {
		color: rgb(255,255,255);
	}
.SubHeader,
.Body {
	border-color: rgb(202,206,217);
}
.SubHeader .header {
	color: rgb(30,110,167);
}
.Column1 {
	border-color: rgb(197,197,197);
}
.Marketing {
	background-color: rgb(108,174,223);
	color: rgb(255,255,255);
}
	.Marketing .Heading1,
	.Marketing .Heading2,
	.Marketing .Heading3,
	.Marketing .Heading4,
	.Marketing .Heading5,
	.Marketing .Heading6,
	.Body .winner .label,
	.Body .winner .user {
		color: inherit;
	}
	.Marketing p {
		color: rgb(226,243,255);
	}
.Footer {
	border-color: rgb(201,205,217);
}
	.Footer .item {
		border-color: rgb(187,189,192);
	}
	.Footer .url {
		color: rgb(187,189,192);
	}
