@font-face {
	font-family: "ITC Franklin Gothic Book";
	src: url("/ui/fonts/25b07660-96a5-4eed-bcfd-fc4f0e97098a.eot?iefix") format("eot");
}
@font-face {
	font-family: "ITC Franklin Gothic Book";
	src: url("/ui/fonts/25b07660-96a5-4eed-bcfd-fc4f0e97098a.eot?iefix");
	src: url("/ui/fonts/de902d7e-9849-4880-b8fe-966b186b110c.woff") format("woff"),
		 url("/ui/fonts/fdec17bc-6f6c-4b7c-bbc1-8f2ec6c7931c.ttf") format("truetype"),
		 url("/ui/fonts/3b330c74-12e3-423e-9785-d817a41a9a24.svg#3b330c74-12e3-423e-9785-d817a41a9a24") format("svg");
}
@font-face {
	font-family: "ITC Franklin Gothic Book Italic";
	src: url("/ui/fonts/7306de32-c033-4beb-935b-9450a69833ce.eot?iefix") format("eot");
}
@font-face {
	font-family: "ITC Franklin Gothic Book Italic";
	src: url("/ui/fonts/7306de32-c033-4beb-935b-9450a69833ce.eot?iefix");
	src: url("/ui/fonts/ad3568fc-e8d1-4f2a-991a-73b2c1579d2d.woff") format("woff"),
		 url("/ui/fonts/29efa8aa-9c14-47a3-bc87-fefc803189e0.ttf") format("truetype"),
		 url("/ui/fonts/8cdd992f-b574-4529-b237-4a0ab066d8f5.svg#8cdd992f-b574-4529-b237-4a0ab066d8f5") format("svg");
}
@font-face {
	font-family: "ITC Franklin Gothic Demi";
	src: url("/ui/fonts/05bfbc51-0c0b-440a-8a25-45b86f0289d5.eot?iefix") format("eot");
}
@font-face {
	font-family: "ITC Franklin Gothic Demi";
	src: url("/ui/fonts/05bfbc51-0c0b-440a-8a25-45b86f0289d5.eot?iefix");
	src: url("/ui/fonts/b547d31d-69fc-40d6-8013-e9b6f0b38df0.woff") format("woff"),
		 url("/ui/fonts/8e90e5d2-659a-4b9f-b68a-8ae72539e7b4.ttf") format("truetype"),
		 url("/ui/fonts/125eafff-7b5a-4c56-8a3a-d3fe11d8c3cc.svg#125eafff-7b5a-4c56-8a3a-d3fe11d8c3cc") format("svg");
}
@font-face {
	font-family: "ITC Franklin Gothic Demi Italic";
	src: url("/ui/fonts/721c755e-eb3b-4ca0-b709-17464d40b416.eot?iefix") format("eot");
}
@font-face {
	font-family: "ITC Franklin Gothic Demi Italic";
	src: url("/ui/fonts/721c755e-eb3b-4ca0-b709-17464d40b416.eot?iefix");
	src: url("/ui/fonts/c7eb9d8d-6dea-4484-b775-9542a1571a8a.woff") format("woff"),
		 url("/ui/fonts/e1ab3288-7287-4732-b338-08f7ba152f8a.ttf") format("truetype"),
		 url("/ui/fonts/a7d47205-7be9-48ab-bf9d-db13411bebb6.svg#a7d47205-7be9-48ab-bf9d-db13411bebb6") format("svg");
}
