/*--------------------------------------------
 * Layout
 *
 * version:     1.0
 * author:      Chris Newton
 * website:     Fairfield Inn Infographic
 * --------------------------------------------*/


/* =Layout 
 * --------------------------------------------*/
body {
	position: relative;
	width: 850px;
	margin: 20px auto;
}
.Header {
	min-height: 80px;
	border-radius: 4px 4px 0 0;
	padding: 15px 25px;
}
	.Header .logo {
		float: left;
	}
	.Header .cta {
		float: right;
		height: 80px;
		font-size: 40px;
		line-height: 80px;
		text-transform: uppercase;
	}
	.Header .cta i {
		float: left;
		position: relative;
		top: 20px;
		width: 14px;
		height: 34px;
		text-indent: -999em;
	}
	.Header .ShareTools {
		position: relative;
		top: 20px;
		float: right;
		margin-left: 10px;
	}
.Marketing {
	position: relative;
	padding: 50px;
}
	.Marketing .subheader,
	.Marketing .ShareTools {
		display: inline-block;
		margin-right: 10px;
	}
.SubHeader {
	position: relative;
	min-height: 40px;
	padding: 10px 50px;
	line-height: 40px;
}
	.SubHeader .photo {
		position: absolute;
		top: 10px;
		left: 50px;
	}
	.SubHeader .header {
		margin-left: 60px;
	}
.SubHeader,
.Body {
	border-width: 0 1px;
	border-style: solid;
}
.Body {
	text-align: center;
}
.Column1,
.Column2 {
	display: inline;
	float: left;
	width: 380px;
	margin-bottom: 50px;
	padding: 0 21px;
}
.Column1 {
	border-right-width: 1px;
	border-style: solid;
}
.Footer {
	border-radius: 0 0 4px 4px;
	border-width: 1px;
	border-style: solid;
	padding: 25px;
}
	.Footer .links {
		text-align: center;
	}
	.Footer .item {
		display: inline-block;
	}
	.Footer .url {
		border-style: solid;
		border-width: 0 0 0 1px;
		padding: 0 2px 0 5px;
	}
	.Footer .item:first-child .url {
		border-width: 0;
	}
