/* =Modules 
 * --------------------------------------------*/
.Tagline {
	margin-bottom: 50px;
}
.IconEquation::after {
	display: block;
	width: 284px;
	height: 75px;
	margin-top: 40px;
	content: '';
}
.Button {
	display: inline-block;
	position: relative;
	height: 72px;
	border: 1px solid rgb(25,77,1);
	border-radius: 4px;
	padding: 0 45px;
	/* repeating background, no sprite */
	background: url(/ui/images/bg-button.jpg) repeat-x left top;
	line-height: 72px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.32);
	text-transform: uppercase;
	color: rgb(255,255,255);
}
	.Button:active {
		-webkit-transform: translateY(2px);
	}
.ShareTools .item {
	display: inline-block;
	margin-left: 2px;
}
.Border {
	display: inline-block;
	width: 90%;
	height: 1px;
	margin: 30px auto;
	border: 0;
	background-color: rgb(197,197,197);
}
.Loading {
	padding-left: 25px;
	/* animated gif, no sprite */
	background: url(/ui/images/ajax-loader.gif) no-repeat left center;
	font-family: 'ITC Franklin Gothic Book';
	font-size: 16px;
	font-style: italic;
}
/* Overview */
	.Overview .winner {
		position: relative;
		height: 372px;
		padding-top: 50px;
		color: rgb(255,255,255);
	}
	.Overview .winner::before {
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 1;
		width: 829px;
		height: 412px;
		content: '';
	}
	.Overview .winner .label {
		text-transform: lowercase;
	}
	.Overview .listing {
		position: relative;
		z-index: 2;
		margin-top: -81px;
	}
	.Overview .item {
		display: inline;
		float: left;
		position: relative;
		width: 190px;
		margin: 0 11px;
		padding-top: 190px;
	}
	.Overview .item::before {
		position: absolute;
		top: 0;
		left: 50%;
		display: inline-block;
		width: 161px;
		height: 161px;
		margin-left: -80px;
		content: '';
	}
	.Overview .summary {
		width: 160px;
		margin: 20px auto;
	}
	.Overview .stat .type {
		display: block;
	}
/* StatGroup */
.StatGroup .header {
	margin-bottom: 20px;
}
.StatGroup .stat {
	position: relative;
	padding-top: 232px;
}
.StatGroup .stat::before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 212px;
	height: 212px;
	margin-left: -106px;
	content: '';
}
.StatGroup .item {
	position: relative;
	padding-top: 100px;
}
.StatGroup .item::before {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	content: '';
}
.StatGroup .label {
	display: block;
}
.StatGroup .breakdown .item {
	display: inline-block;
	min-width: 80px;
	margin: 0 20px;
	vertical-align: top;
}
.StatGroup .photo {
	border-radius: 212px;
}
.StatGroup.horizontal {
	clear: both;
	position: relative;
	height: 490px;
	margin-bottom: 30px;
}
	.StatGroup.horizontal .header {
		display: inline-block;
		position: relative;
		z-index: 2;
		margin-bottom: 50px;
		padding: 0 35px;
		background-color: rgb(255,255,255);
	}
	.StatGroup.horizontal .Border {
		position: absolute;
		top: -13px;
		left: 5%;
		z-index: 1;
	}
	.StatGroup.horizontal .item {
		display: inline;
		float: left;
		position: relative;
		width: 190px;
		margin: 0 11px;
	}
	.StatGroup.horizontal .item::before {
		display: inline-block;
		position: absolute;
		top: 40px;
		left: 50%;
		width: 161px;
		height: 161px;;
		margin-left: -80px;
		content: '';
	}
	.StatGroup.photoGroup .item {
		padding-top: 0;
	}
	.StatGroup.photoGroup .item::before {
		display: none;
	}
	.TimeOfDay .heading {
		position: absolute;
		top: 0;
		width: 100%;
	}
	.TimeOfDay .item {
		padding-top: 220px;
		background-position: center 40px;
	}
.Branding {
	margin-top: 120px;
}
	.Branding .ShareTools {
		margin: 20px 0;
	}
