/*--------------------------------------------
 * Page Overrides
 *
 * version:     1.0
 * author:      Chris Newton
 * website:     Fairfield Inn Infographic
 * --------------------------------------------*/

/* =Pages 
 * --------------------------------------------*/
.LikeLock .Header .cta::after {
	display: inline-block;
	width: 47px;
	height: 36px;
	margin-left: 20px;
	content: '';
}
.LikeLock .Marketing,
.Homepage .Marketing,
.Generating .Marketing {
	background-color: rgb(108,174,223); 
}
.LikeLock .Marketing,
.Generating .Marketing,
.Homepage .Marketing {
	padding: 30px 80px 100px;
}
.Homepage .Button {
	top: 30px;
}
.Generating .Loading {
	position: absolute;;
	top: 30px;;
	margin-left: -25px;
}
.Slider {
	position: relative;
	width: 650px;
	height: 270px;
	overflow: hidden;
	margin-top: 80px;
	text-transform: none;
}
	.Slider .window {
		position: absolute;
		left: 0;
		width: 90000px;
		list-style: none;
	}
	.Slider .item {
		display: inline;
		float: left;
		width: 650px;
	}
