.Header .cta i,
.LikeLock .Header .cta::after,
.Marketing,
.IconEquation::after,
.Overview .winner::before,
.Overview .listing .item::before,
.StatGroup .stat::before,
.StatGroup .item::before {
  background-image: url(/ui/images/sprite.png);
  background-repeat: no-repeat;
}
.Header .cta i {
  background-position: -1190px -414px;
}
.LikeLock .Header .cta::after {
  background-position: -1141px -414px;
}
.LikeLock .Marketing {
  background-position: 0px 374px;
}
.Homepage .Marketing {
  background-position: 0px 449px;
}
.Generating .Marketing {
  background-position: 0px 321px;
}
.Results .Marketing {
  background-position: 0px 120px;
}
.IconEquation::after {
  background-position: -852px -414px;
}
.Overview .winner.jackofalltrades::before {
  background-position: 0px -161px;
}
.Overview .winner.messenger::before {
  background-position: -852px 0px;
}
.Overview .winner.socialite::before {
  background-position: 0px -575px;
}
.Overview .winner.storyteller::before {
  background-position: -831px -575px;
}
.StatGroup .comments::before {
  background-position: -1180px -491px;
}
.StatGroup .likes::before {
  background-position: -1262px -491px;
}
.StatGroup .total::before {
  background-position: -855px -989px;
}
.Overview .listing .jackofalltrades::before {
  background-position: -163px -1203px;
}
.Overview .listing .messenger::before {
  background-position: -326px -1203px;
}
.Overview .listing .socialite::before {
  background-position: -489px -1203px;
}
.Overview .listing .storyteller::before {
  background-position: -652px -1203px;
}
.StatGroup .stat.nature::before {
  background-position: 0px -989px;
}
.StatGroup .item.nature::before {
  background-position: -852px -491px;
}
.StatGroup .stat.professional::before {
  background-position: -214px -989px;
}
.StatGroup .item.professional::before {
  background-position: -934px -491px;
}
.StatGroup .stat.weekend::before {
  background-position: -428px -989px;
}
.StatGroup .item.weekend::before {
  background-position: -1016px -491px;
}
.StatGroup .item.wildcard::before {
  background-position: -642px -989px;
}
.StatGroup .item.wildcard::before {
  background-position: -1098px -491px;
}
.TimeOfDay .early::before {
  background-position: -1069px -989px;
}
.TimeOfDay .late::before {
  background-position: -1232px -989px;
}
.TimeOfDay .often::before {
  background-position: -1395px -989px;
}
.TimeOfDay .rarely::before {
  background-position: 0px -1203px;
}
