/* =Typography 
 * --------------------------------------------*/
html,
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
p {
	margin: 10px 0;
	font-family: 'ITC Franklin Gothic Book';
	font-size: 18px;
	line-height: 1.4;
	text-transform: none;
}
a {
	text-decoration: underline;
	text-transform: none;
}
.Heading1,
.Heading2,
.Heading3,
.Heading4,
.Heading5,
.Heading6 {
	font-family: 'ITC Franklin Gothic Demi', arial, sans-serif;
}
.Heading1 {
	font-size: 60px;
}
.Heading2 {
	font-size: 48px;
}
.Heading3 {
	font-size: 32px;
}
.Heading4 {
	font-size: 24px;
}
.Heading5 {
	font-size: 18px;
}
.Marketing .subheader {
	font-family: 'ITC Franklin Gothic Demi Italic';
}
.Tagline {
	line-height: .9;
}
	.Tagline strong {
		font-family: 'ITC Franklin Gothic Demi';
		font-weight: normal;
	}
.Body .winner .label {
	font-family: 'ITC Franklin Gothic Book Italic';
}
.Tagline,
.Marketing .facts,
.Body .winner .user {
	font-family: 'ITC Franklin Gothic Book';
}
.Footer,
.Footer .url {
	font-family: Arial;
	font-size: 12px;
	text-transform: none;
}
