<figure id="Comments" class="Module">
    <header class="header"><h3 class="heading Heading2">Comments</h3></header>
    <section class="body">
        <form method="post" action="" class="Form1 FLC">
            <label for="Comments" class="Heading3">Add New Comment</label>
            <textarea id="Comments"></textarea>
            <input type="submit" value="Submit Comment" class="Button1" />
        </form>
    </section>
    <section class="header subheader">
        <p class="Heading3">179 Comments</p>
        <a href="" class="profanity">Show Profanity</a>
    </section>
    <section class="body FLC">
        <ol class="Comments">
            <li class="Comment FLC">
                <footer class="meta">
                    <a href="" class="Heading5 user">
                        wildcard23
                        <img src="http://dummyimage.com/30x30/000/fff.jpg" width="30" height="30" alt="" class="avatar" />
                    </a>
                    <p class="date">Posted on <time datetime="">7/28/10</time></p>
                </footer>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#replyForm1" class="Heading5 reply open">Reply</a>
                <form method="post" action="" id="replyForm1" class="ReplyTo Form1 FLC">
                    <label for="Comments" class="Heading3">Replying to wildcard23</label>
                    <textarea id="Comments"></textarea>
                    <input type="submit" value="Submit Comment" class="Button1" />
                </form>
            </li>
            <li class="Comment FLC">
                <footer class="meta">
                    <a href="" class="Heading5 user">
                        wildcard23
                        <img src="http://dummyimage.com/30x30/000/fff.jpg" width="30" height="30" alt="" class="avatar" />
                    </a>
                    <p class="date">Posted on <time datetime="">7/28/10</time></p>
                </footer>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#replyForm" class="Heading5 reply">Reply</a>
            </li>
            <li class="Comment Reply FLC">
                <footer class="meta">
                    <a href="" class="Heading5 user">
                        wildcard23
                        <img src="http://dummyimage.com/30x30/000/fff.jpg" width="30" height="30" alt="" class="avatar" />
                    </a>
                    <p class="date">Posted on <time datetime="">7/28/10</time></p>
                </footer>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>
            <li class="Comment Reply FLC">
                <footer class="meta">
                    <a href="" class="Heading5 user">
                        wildcard23
                        <img src="http://dummyimage.com/30x30/000/fff.jpg" width="30" height="30" alt="" class="avatar" />
                    </a>
                    <p class="date">Posted on <time datetime="">7/28/10</time></p>
                </footer>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#replyForm" class="Heading5 reply">See All Replies</a>
            </li>
            <li class="Comment FLC">
                <footer class="meta">
                    <a href="" class="Heading5 user">
                        wildcard23
                        <img src="http://dummyimage.com/30x30/000/fff.jpg" width="30" height="30" alt="" class="avatar" />
                    </a>
                    <p class="date">Posted on <time datetime="">7/28/10</time></p>
                </footer>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#replyForm" class="Heading5 reply">Reply</a>
            </li>
        </ol>
        <a href="" class="Button1">More Comments</a>
    </section>
</figure>
