<section id="NewArticles" class="Module">
    <article class="body Carousel">
        <div class="window">
            <ol class="stage">
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/333/fff.jpg&text=Article+Image+1" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/999/fff.jpg&text=Article+Image+2" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image+3" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/333/fff.jpg&text=Article+Image+4" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/999/fff.jpg&text=Article+Image+5" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image+6" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/333/fff.jpg&text=Article+Image+7" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/999/fff.jpg&text=Article+Image+8" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview Inline">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/155x110/000/fff.jpg&text=Article+Image+9" alt="" />
                    </div>
                </li>
            </ol>
        </div>
        <button class="prev">Previous</button>
        <button class="next">Next</button>
    </article>
</section>
