<nav class="Pagination">
    <p class="indicator">Page 1 of 5</p>
    <ul>
        <li><a href="" rel="first" class="first">First</a></li>
        <li><a href="" rel="prev" class="previous">Previous</a></li>
        <li class="pager">
            <ol class="pages">
                <li><a href="" class="page current">1</a></li>
                <li><a href="" class="page">2</a></li>
                <li><a href="" class="page">3</a></li>
                <li><a href="" class="page">4</a></li>
            </ol>
        </li>
        <li><a href="" rel="next" class="next">Next</a></li>
        <li><a href="" rel="last" class="last">Last</a></li>
    </ul>
</nav>
