<section id="Recommended" class="Module">
    <header class="header"><h3 class="heading Heading2">Recommended For Your Pleasure</h3></header>

    <article class="body Carousel">
        <div class="window">
            <ol class="stage">
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/ccc/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/999/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/000/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/ccc/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/999/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/000/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/ccc/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/999/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
                <li class="item ArticlePreview">
                    <p class="meta">
                        <a href="" class="Heading5 title">Article Title</a>
                        <a href="" class="byline">By: Dan O'Brien</a></br />
                        <time datetime="" class="date">July 19, 2010</time>
                        <span class="views">125,000</span>
                    </p>
                    <div class="Thumbnail">
                        <img src="http://dummyimage.com/217x147/000/fff.jpg&text=Article+Image" alt="" />
                    </div>
                </li>
            </ol>
        </div>
        <button class="prev">Previous</button>
        <button class="next">Next</button>
    </article>
</section>
