<div id="SecondaryContent">
    <div id="Ad300" class="AdUnit"><img src="http://dummyimage.com/300x600/000/fff.jpg&text=300+Ad"></div>

    <section id="Craption" class="Module">
        <header class="header"><h3 class="heading Heading2">Craption</h3></header>
        <article class="body FLC">
            <img src="http://dummyimage.com/278x210/000/fff.jpg&text=Article+Image" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="" class="Button1">See Next Weeks Photo</a>
        </article>
    </section>

    <section id="VideoSeries" class="Module">
        <header class="header"><h3 class="heading Heading2">Cracked Video Series</h3></header>
        <ul class="body">
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="name">Agents of Cracked</span>
                    <span class="Thumbnail">
                        <img src="http://dummyimage.com/150x100/000/fff.jpg&text=Article+Image" alt="" />
                    </span>
                </a>
            </li>
        </ul>
    </section>

    <section id="FeaturedVideo" class="Module">
        <article class="body ArticlePreview">
            <p class="meta">
                <a href="" class="Heading5 title">Article Title</a>
                <a href="" class="byline">By: Dan O'Brien</a>
            </p>
            <div class="Thumbnail video">
                <img src="http://dummyimage.com/280x165/999/333.jpg&text=Article+Image" alt="" />
                <span class="play">play video</span>
            </div>
        </article>
    </section>
</div>
