---
layout: ocea
stylesheet: resources
id: Template2a
content_id: Resources
title: Resources
breadcrumb_enabled: true
directory: Resources
tombstone_enabled: true
---

<!-- Column1 starts -->
<div class="column1">

    {% include ocea/dinner-meeting.html %}
    {% include ocea/current-newsletter.html %}

</div>
<!-- Column1 ends -->

<!-- Column2 starts -->
<div class="column2">

    <h2 class="Heading2a">What's Going On in Orange County!</h2>

    <div class="calendar">
        <iframe src="http://www.google.com/calendar/hosted/eaoc.org/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=617&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=eaoc.org_odoaa9d0gdtoljt4hk436975jc%40group.calendar.google.com&amp;color=%232952A3&amp;src=eaoc.org_13ce278l5ueonqcp7vb7383rp0%40group.calendar.google.com&amp;color=%23B1440E&amp;src=eaoc.org_hm4qlim1847pgfnn6focscbv0g%40group.calendar.google.com&amp;color=%23B1440E&amp;src=eaoc.org_91jpgq99tv3nkf0bj7vvvah00g%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=eaoc.org_l9qfudc3t65rtjfhhbg52q4gdg%40group.calendar.google.com&amp;color=%23A32929&amp;src=usa__en%40holiday.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="610" height="617" frameborder="0" scrolling="no"></iframe>
    </div>

    <h2 class="Heading2a">Scholarships</h2>	

    <p>NAEA offers scholarships for the SEE class and NTPI; see their <a href="http://www.naea.org/MemberPortal/Education/ScholarshipInfo/" rel="external">website</a> for applications and requirements. CSEA now has a <a href="http://www.cseaeducationfoundation.org/" rel="external">Scholarship Foundation</a> that offers SEE class scholarships for non enrolled agents and scholarships to NTPI, CSTAR and other education opportunities for Enrolled Agents; see their <a href="http://www.cseaeducationfoundation.org/scholarship.html" rel="external">website</a> for more details.</p>
</div>
<!-- Column2 ends -->
