---
layout: default
site_id: answerbag.com
site_title: Answerbag
site_ui_dir: /answerbag/
site_stylesheet: answerbag

id: Template2a
---

<!-- Header : start -->
<div class="Header">
    <div class="Frame FLC">

        <a href="/index.html" class="logo"><img src="/ui/answerbag/images/logos/logo.jpg" alt="Answerbag.com - Every Question Deserves a Great Answer" /></a>

        <form class="SearchAnswers" action="search-results.html" method="get">
            <label class="Title3a" for="globalSearch">Ask your question</label>
            <div>
                <input type="text" class="textInput" id="globalSearch" value="" name=""/>
                <input type="submit" class="submitButton Heading2a" value="Find Answers" name=""/>
            </div>
        </form>

    </div>
</div>
<!-- Header : end -->

<!-- Navigation : start -->        
<div class="Navigation">
    <div class="Frame FLC">

        <ul class="Nav1">
            <li{% if page.content_id == 'Home' %} class="selected"{% endif %}><a href="/">Home</a></li>
            <li{% if page.content_id == 'Category' %} class="selected"{% endif %}><a href="category.html">Categories</a></li>
            <li{% if page.content_id == 'Topic' or page.content_id == 'TopicLanding' %} class="selected"{% endif %}><a href="topic-landing.html">Topics</a></li>
            <li{% if page.content_id == 'Question' %} class="selected"{% endif %}><a href="question.html">Questions</a></li>
            <li{% if page.content_id == 'Poll' %} class="selected"{% endif %}><a href="poll.html">Polls</a></li>
            <li{% if page.content_id == 'Debate' %} class="selected"{% endif %}><a href="debate.html">Debates</a></li>
            <li><a href="">Forums</a></li>
        </ul>

        <ul class="Login">
            <li class="IconFacebook1"><a href="">Connect with Facebook</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>

        <div class="CategoryNav Box1 FLC">
            <ul class="first">
                <li><a href="category.html">Arts &amp; Entertainment</a></li>
                <li><a href="category.html">Business</a></li>
                <li><a href="category.html">Computers</a></li>
                <li><a href="category.html">Education</a></li>
                <li><a href="category.html">Electronics</a></li>
            </ul>
            <ul>
                <li><a href="category.html">Environmentalism</a></li>
                <li><a href="category.html">Finance</a></li>
                <li><a href="category.html">Food &amp; Dining</a></li>
                <li><a href="category.html">Games</a></li>
                <li><a href="category.html">Health &amp; Fitness</a></li>
            </ul>
            <ul>
                <li><a href="category.html">Hobbies</a></li>
                <li><a href="category.html">Home &amp; Garden</a></li>
                <li><a href="category.html">Kids</a></li>
                <li><a href="category.html">Legal</a></li>
                <li><a href="category.html">Life &amp; Society</a></li>
            </ul>
            <ul>
                <li><a href="category.html">Outside the Bag</a></li>
                <li><a href="category.html">Pets</a></li>
                <li><a href="category.html">Real Estate</a></li>
                <li><a href="category.html">Recreation &amp; Sports</a></li>
                <li><a href="category.html">Relationship Advice</a></li>
            </ul>
            <ul class="last">
                <li><a href="category.html">Religion</a></li>
                <li><a href="category.html">Science</a></li>
                <li><a href="category.html">Social Sciences</a></li>
                <li><a href="category.html">Transportation</a></li>
                <li><a href="category.html">Travel &amp; Places</a></li>
            </ul>
            <a href="category.html" class="close"><img src="/ui/answerbag/images/buttons/blue_close.png" width="15" height="15" alt="Close the Category Navigation Menu" /></a>
        </div>

    </div>
</div>
<!-- Navigation : end -->

<!-- Content : start -->
<div class="Content" id="{{ page.content_id }}">
    <div class="Frame FLC">

        {{ content }}

    </div>
</div>
<!-- Content : end -->

<!-- Footer : start -->
<div class="Footer">
    <div class="Frame">

        <ul class="FLC">
            <li class="about">
                <dl>
                    <dt class="Heading2a SectionTitle">About Us</dt>
                    <dd><a href="">About Answerbag</a></dd>
                    <dd><a href="">Blog</a></dd>
                    <dd><a href="">Press</a></dd>
                    <dd><a href=""><abbr title="Frequently Asked Questions">FAQ</abbr></a></dd>
                    <dd><a href="">Contact Us</a></dd>
                    <dd><a href="">Sitemap</a></dd>
                    <dd><a href="">Advertise With Us</a></dd>
                </dl>
            </li>
            <li class="fanPage">
                <dl>
                    <dt class="Heading2a SectionTitle">Fan Page</dt>
                    <dd>fan page module goes here</dd>
                </dl>
            </li>
            <li class="latestTweets">
                <dl>
                    <dt class="Heading2a SectionTitle">Latest Tweet</dt>
                    <dd class="tweet">twitter module goes here</dd>
                    <dd>
                        <div class="TwitterFollowUs Box4">
                            <p class="Title5a"><a href="">Follow Answerbag on Twitter!</a></p>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>

    </div>
</div>
<!-- Footer : end -->

<!-- SubFooter : start -->
<div class="SubFooter">
    <div class="Frame">

        <ul class="FLC">
            <li class="categories Column1">
                <dl class="FLC">
                    <dt class="Heading2a SectionTitle">Professionally Researched <span class="Note">Popular Categories</span></dt>
                    <dd><a href="category.html">Arts &amp; Entertainment</a></dd>
                    <dd><a href="category.html">Business</a></dd>
                    <dd><a href="category.html">Careers &amp; Work</a></dd>
                    <dd><a href="category.html">Cars</a></dd>
                    <dd><a href="category.html">Computers</a></dd>
                    <dd><a href="category.html">Culture &amp; Society</a></dd>
                    <dd><a href="category.html">Education</a></dd>
                    <dd><a href="category.html">Electronics</a></dd>
                    <dd><a href="category.html">Fashion, Style &amp; Personal Care</a></dd>
                    <dd><a href="category.html">Food &amp; Drink</a></dd>
                    <dd><a href="category.html">Health</a></dd>
                    <dd><a href="category.html">Hobbies, Games &amp; Toys</a></dd>
                    <dd><a href="category.html">Holidays &amp; Celebrations</a></dd>
                    <dd><a href="category.html">Home &amp; Garden</a></dd>
                    <dd><a href="category.html">Internet</a></dd>
                    <dd><a href="category.html">Legal</a></dd>
                    <dd><a href="category.html">Parenting</a></dd>
                    <dd><a href="category.html">Parties &amp; Entertaining</a></dd>
                    <dd><a href="category.html">Personal Finance</a></dd>
                    <dd><a href="category.html">Pets</a></dd>
                    <dd><a href="category.html">Relationship &amp; Family</a></dd>
                    <dd><a href="category.html">Sports &amp; Fitness</a></dd>
                    <dd><a href="category.html">Travel</a></dd>
                    <dd><a href="category.html">Weddings</a></dd>
                </dl>
                <a href="/category.html" class="seeAll Note">See All Categories</a>
            </li>
            <li class="legal Column2">
                <dl>
                    <dt class="Heading2a SectionTitle">Legal</dt>
                    <dd><a href="">Privacy Policy</a></dd>
                    <dd><a href="">Terms of Use</a></dd>
                    <dd><a href="">Disclaimer</a></dd>
                </dl>
            </li>
        </ul>

    </div>
</div>
