---
layout: default
site_id: wrck.us
site_title: Portfolio Site of Newton
site_ui_dir: /
site_stylesheet: wrck-us
---

<header id="header" class="Header">
    <h1><a href="http://wrck.me/">APW</a> - Portfolio Site</h1>
    <!--
    <nav>
        <ul>
            <li{% if page.site_title == 'Answerbag' %} class="selected"{% endif %}><a href="/answerbag/">Answerbag.com</a></li>
            <li{% if page.site_title == 'Cracked' %} class="selected"{% endif %}><a href="/cracked/">Cracked.com</a></li>
            <li{% if page.site_title == 'Happynin' %} class="selected"{% endif %}><a href="/happynin/">Happynin.com</a></li>
            <li{% if page.site_title == 'Happynin' %} class="selected"{% endif %}><a href="/happynin/">Happynin.com</a></li>
            <li{% if page.site_title == 'Parking Meter Productions' %} class="selected"{% endif %}><a href="/pmp/">Parking Meter Productions.com</a></li>
            <li{% if page.site_title == 'Private Protective Services' %} class="selected"{% endif %}><a href="/pps/">Private Protective Services.com</a></li>
        </ul>
    </nav>
    -->
</header>

<main id="body" class="Body">
    {{ content }}
</main>


<footer id="footer" class="Footer"><small>&copy; 2013. A Permanent Wreck.</small></footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var user = 'apermanentwreck';
    var url = 'https://api.github.com/users/' + user + '/gists';
    var getGists = $.ajax({
        url : url,
        success : function( data ) {
            var tmp = '';
            for ( var i = 0; i < data.length; i++ ) {
                tmp += '<li class="item">' + ( ( data[i].description != '' ) ? data[i].description + ' - ' : '' ) + '<a href="' + data[i].html_url + '">' + data[i].id + '</a></li>';
                }
            $( '#gists' ).html( tmp );
        }
    });
</script>
