---
layout: default
site_id: cracked.com
site_title: Cracked
site_ui_dir: /cracked/
site_stylesheet: cracked

id: Template2
---

<header id="Header" role="banner">
    <a href="index.html" title="return to Cracked.com's home page" id="Logo" class="Heading5"><img src="/ui/cracked/images/logo.png" alt="Cracked.com logo" />
        America's Only Humor Site Since 1958</a>

    <form method="get" action="" id="HeaderSearch" class="Form1 Search">
        <input type="text" id="searchHeader" />
        <input type="submit" value="Search" class="button" />
    </form>

    <nav id="Account">
        <ul class="container">
            <li class="item">
                <a href="#Register" id="RegisterButton" rel="#Register" class="url">Register</a>
            </li>
            <li class="item">
                <a href="#Login" id="LoginButton" rel="#Login" class="url">Login</a>
            </li>
            <li class="facebook"><a href="" class="url"><img src="http://dummyimage.com/95x23/40649c/fff.jpg&text=Facebook" /></a></li>
        </ul>
    </nav>
</header>

<div id="Wrapper">

    <div id="NavAndTools">
        <nav id="Navigation" role="navigation">
            <ul>
                <li><a href="article.html">Articles</a></li>
                <li><a href="video.html">Videos</a></li>
                <li><a href="">Columnists</a></li>
                <li><a href="">Forums</a></li>
                <li><a href="">Craptions</a></li>
                <li><a href="">Topics</a></li>
                <li><a href="category.html" class="more">More</a></li>
            </ul>
        </nav>

        <ul id="FollowUs">
            <li><a href="" class="facebook">Facebook</a></li>
            <li><a href="" class="twitter">Twitter</a></li>
            <li><a href="" class="rss"><abbr title="Real Simple Syndication">RSS</abbr></a></li>
        </ul>

        <a href="" class="Button2"><span class="job">Work for Us!</span></a>
    </div>

    <div id="Ad990">
        <img src="http://dummyimage.com/990x90/000/fff.jpg&text=990+Ad">
    </div>

    {{ content }}

    <section id="CrackedStuff" class="Module">
        <header class="header"><h4 class="heading Heading2">Cracked Stuff</h4></header>
        <article class="body Carousel">
            <div class="window">
                <ol class="stage">
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/161x112/ccc/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/159x112/999/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/159x112/000/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/159x112/ccc/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/159x112/999/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                    <li class="item ArticlePreview Inline">
                        <p class="meta">
                            <a href="" class="Heading5 title">Article Title</a>
                            <a href="" class="byline">By: Dan O'Brien</a>
                        </p>
                        <div class="Thumbnail">
                            <img src="http://dummyimage.com/162x112/000/fff.jpg&text=Article+Image" alt="" />
                        </div>
                    </li>
                </ol>
            </div>
            <button class="prev">Previous</button>
            <button class="next">Next</button>
        </article>
    </section>

    <section id="FooterLinks">
        <ul>
            <li class="link"><a href="">Advertise</a></li>
            <li class="link"><a href="">Submissions</a></li>
            <li class="link"><a href="">Contact Us</a></li>
            <li class="link"><a href="">Link to Us</a></li>
            <li class="link"><a href="">Sitemap</a></li>
            <li class="link"><a href="">Terms &amp; Conditions</a></li>
            <li class="link"><a href="">Privacy Policy</a></li>
        </ul>
    </section>

    <div id="NewsletterAndSearch">

        <form method="post" action="" class="Form1 Newsletter">
            <label for="Newsletter" class="Heading5">Sign up for our Monthly Newsletter</label>
            <input type="text" id="Newsletter" />
            <input type="submit" value="Sign up!" class="Button2" />
        </form>

        <form method="get" action="" id="FooterSearch" class="Form1 Search">
            <label for="searchFooter" class="Heading5">Search</label>
            <input type="text" id="searchFooter" />
            <input type="submit" value="Search" class="button" />
        </form>

    </div>

    <footer id="Footer">
        <small class="Note">Copyright &copy; 2005-2010 Cracked Entertainment, Inc. All rights reserved. CRACKED, CRACKED.COM and the "Cracked" logo are trademarks owned by Cracked Entertainment, Inc.<br /> All rights reserved.</small>

        <img src="/ui/cracked/images/comscore/partners/demand-media.gif" width="136" height="34" alt="Driven by Demand Media" id="comscore" />
    </footer>

</div>

<section id="Register" class="Modal">
    <header class="header">
        <h5 class="heading Heading2">Register</h5>
    </header>
    <article class="body">
        <header>
            <h6 class="Heading3">New Users, Register here</h6>
        </header>
        <form action="" method="post">
            <label for="registerUser">Username</label>
            <input type="text" id="registerUser" />
            <label for="registerPass">Password</label>
            <input type="text" id="registerPass" />
            <input type="submit" class="Button2" value="Register!" />
        </form>
        <p>Or
        <a href="" class="Button2">Login</a> or <span class="facebook">Connect with Facebook</span>
        </p>
    </article>
</section>

{% include cracked/login.html %}

<section id="Toolbar">
    <a href="" class="ad"><img src="/ui/cracked/resources/fpo/newcastle-ad.png" width="215" height="85" alt="" class="asset" /></a>
    <div class="tools">
        <button class="close">Close</button>
        <a href="http://itunes.apple.com/us/app/the-cracked-reader/id351353302?mt=8" class="houseAd">Checkout our iPhone App</a>
        <ul class="shareTools">
            <li><a href="" class="twitter">Twitter</a></li>
            <li><a href="" class="facebook">Facebook</a></li>
            <li><a href="" class="share">Share</a></li>
        </ul>
    </div>
</section>
<div id="mask"></div>

{% include cracked/scripts.html %}
