<!doctype html>
<html id="{{ page.id }}">
	<head>
		{% include meta.html %}

		<link rel="canonical" href="{{ site.github.url }}" />
		<link rel="copyright" href="{{ site.github.repository_url }}/blob/master/LICENSE" title="Copyright" />

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:600" />
		<link rel="stylesheet" href="{{ site.github.url }}/ui/{{ page.id }}/stylesheets/{{ page.id }}.css" />

		<title>{% if page.title %}{{ page.title }}{% endif %}</title>
	</head>

	<body>{{ content }}</body>
</html>
