---
layout: default
site_id: eanewton.com
site_title: Lisa Newton, EA - Tax &amp; Business Services
site_ui_dir: /eanewton/
site_stylesheet: eanewton
description: In addition to providing you with a profile of Lisa Newton, EA and the services we provide, we hope to become a helpful resource tool to you, our valued clients and visitors. We hope you will search around the site to learn a little about us and what we can do for your firm.
metadata: itemscope itemtype="http://schema.org/AccountingService"
---

<header class="Header">
    <div class="Frame FLC">
        <hgroup class="branding">
            <h1 class="logo" itemprop="name"><a href="{{ site.github.url }}/eanewton/">Lisa Newton, EA</a></h1>
            <h2 class="tagline" itemprop="description">Tax &amp; Business Services</h2>
        </hgroup>
        <p class="contact"><a href="tel:15622670351" class="phone">Call (562) 267-0351</a></p>
    </div>
</header>

<article class="Body">
    <div class="Frame FLC">
        {{ content }}
    </div>
</article>

<footer class="Footer">
    <div class="Frame">
        <h1>Organizations</h1>
        <p>Lisa is a proud member of the following</p>
        <a href="http://proadvisor.intuit.com/content/program/index.jsp" class="logologo"><img src="{{ site.github.url }}/ui/eanewton/images/quickbooks-pro-advisor.png" alt="Certified QuickBooks Pro Advisor" /></a>
        <a href="http://naea.org" rel="external" class="logo"><img src="{{ site.github.url }}/ui/eanewton/images/naea.png" height="100"></a>
        <a href="http://csea.org" rel="external" class="logo"><img src="{{ site.github.url }}/ui/eanewton/images/csea.png" height="100"></a>
        <a href="http://www.breachamber.com/" rel="external" class="logo"><img src="{{ site.github.url }}/ui/eanewton/images/brea-chamber-commerce.png" height="100"></a>
    </div>
    <div class="copyright"><small class="Frame">&copy; 2009-2013. EA Newton. All Rights Reserved.</small></div>
</footer><!-- Footer : end -->

{% if page.notification_enabled %}
<div class="Alert">
    <p class="message">Check out our <a href="{{ site.github.url }}/media/2012-year-end-tips.pdf">2012 Year-End Tax Tips</a></p>
</div>
{% endif %}
