---
layout: default
site_id: eatwhatwhy.ehow.com
site_title: Eat What Why on eHow.com
site_ui_dir: /eatwhatwhy/
site_stylesheet: eatwhatwhy
id: Body
---

<header id="Header" class="FLC">
    <p class="Heading6 network"><span class="text">Presented by the</span> <a href="http://www.ehow.com/" class="ehow text"><img src="/ui/eatwhatwhy/images/ehow-logo.png" /> <a href="http://www.ehow.com/ehow-food/" class="text">Food Network</a></p>
    <div class="branding FLC">
        <a href="/" class="logo">eat.what.why</a>
        <p class="tagline">Fresh eats + healthy treats for the curious cook</p>
        <div class="moreLikeThis">
            <dl id="more-like-this" class="team">
                <dt class="label">Check Out</dt>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-pro.png" width="40" height="40" class="thumbnail" />
                        <span class="text">Wine Matchmaker</span>
                    </a>
                </dd>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-member-1.png" width="40" height="40" class="thumbnail" />
                        <span class="text">Backyard Gardening</span>
                    </a>
                </dd>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-member-2.png" width="40" height="40" class="thumbnail" />
                        <span class="text">BBQ Addict</span>
                    </a>
                </dd>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-member-3.png" width="40" height="40" class="thumbnail" />
                        <span class="text">Bodacious Burgers</span>
                    </a>
                </dd>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-member-4.png" width="40" height="40" class="thumbnail" />
                        <span class="text">Sushi Primo</span>
                    </a>
                </dd>
                <dd class="member">
                    <a href="">
                        <img src="/ui/eatwhatwhy/images/team-member-5.png" width="40" height="40" class="thumbnail" />
                        <span class="text">Salad Slinger</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</header>

{{ content }}

<footer id="Footer">
    <ul class="List">
        <li class="item"><a href="/" class="title">Home</a></li>
        <li class="item"><a href="http://www.ehow.com/" class="title">eHow.com</a></li>
        <li class="item"><a href="http://www.demandmedia.com/" class="title">Demand Media</a></li>
    </ul>
    <small class="Note copyright">Copyright &copy; 1999-2010 eHow Inc. Use of this web site constitutes acceptance of the eHow <a href="http://www.ehow.com/terms-of-use.html">Terms of Use</a> and <a href="http://www.ehow.com/privacy.html">Privacy Policy</a>.</small>
    <img src="/ui/eatwhatwhy/images/comscore-food-drink.png" width="157" height="45" alt="eHow Food & Drink" class="comscore" />
</footer>

<script src="/ui/eatwhatwhy/eatwhatwhy/scripts/common.js"></script>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<script src="http://platform.twitter.com/widgets.js"></script>
