---
layout: default
site_id: fairfieldinn
site_title: Fairfield Inn &amp; Suites Infographic
site_ui_dir: /fairfieldinn/
site_stylesheet: fairfieldinn
---

<header class="Header">
    <a href="http://www.marriott.com/fairfield-inn/travel.mi#/s-intro/intro-0/" class="logo" target="_blank"><img src="/ui/fairfieldinn/images/logo.png" width="122" height="80" alt="Fairfield Inn &amp; Suites logo" /></a>
    {% if page.id == 'LikeLock' %}
        <h1 class="Heading2 cta">Like us to get started!</h1>
    {% else %}
        {% include fairfieldinn/share-tools.html %}
        <h1 class="Heading2 cta"><i>I</i>nfographics</h1>
    {% endif %}
</header>

{{ content }}

<footer class="Footer">
    <nav>
        <ul class="links">
            <li class="item"><a href="http://www.marriott.com/marriott/privacy-us.mi" class="url" target="_blank">Privacy Policy</a></li>
            <li class="item"><a href="http://www.marriott.com/fairfield-inn/travel.mi#/s-intro/intro-0/" class="url" target="_blank">Learn More about Fairfield Inn &amp; Suites</a></li>
        </ul>
    </nav>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="/ui/fairfieldinn/scripts/jquery.js"></script>
<script src="/ui/fairfieldinn/scripts/jquery.easing.js"></script>
<script src="/ui/fairfieldinn/scripts/class.js"></script>
<script src="/ui/fairfieldinn/scripts/slider.class.js"></script>
