---
layout: default
site_id: glass
site_title: Essortment Articles - Free Online Articles on Health, Science, Education &amp; More&hellip;
site_ui_dir: /glass/
site_stylesheet: glass
description: Read articles covering health, science, business and other topics for free on Essortment. Browse the educational articles online for free and learn recipes, how to garden, activities for kids and more.
---

<div class="Header">
    <div class="Frame">
        <img src="/ui/glass/images/essortment_logo.jpg" alt="Essortment Logo" width="380" height="110" />
    </div>
</div>

<div class="Navigation">
    <div class="Frame">
        <ul>
            <li><a href="http://beta.essortment.com/arts-entertainment/" class="ArtsEntertainment">Arts &amp; Entertainment</a></li>
            <li><a href="" class="Business">Business</a></li>
            <li><a href="http://beta.essortment.com/careers/" class="CareersWork">Careers &amp; Work</a></li>
            <li><a href="" class="Cars">Cars</a></li>
            <li><a href="" class="Conputers">Computers</a></li>
            <li><a href="" class="CultureSociety">Culture &amp; Society</a></li>
            <li><a href="" class="Education">Education</a></li>
            <li><a href="" class="Electronics">Electronics</a></li>
            <li><a href="http://beta.essortment.com/fashion-beauty/" class="FashionStylePersonalCare">Fashion, Style &amp; Personal Care</a></li>
            <li><a href="http://beta.essortment.com/food-drink/" class="FoodDrink">Food &amp; Drink</a></li>
            <li><a href="http://beta.essortment.com/health-fitness/" class="Health">Health</a></li>
            <li><a href="http://beta.essortment.com/hobbies-sports-leisure/" class="HobbiesGamesToys">Hobbies, Games &amp; Toys</a></li>
            <li><a href="http://beta.essortment.com/home-garden/" class="HomeGarden">Home &amp; Garden</a></li>
            <li><a href="" class="Internet">Internet</a></li>
            <li><a href="" class="Parenting">Parenting</a></li>
            <li><a href="" class="Pets">Pets</a></li>
            <li><a href="" class="RelationshipsFamily">Relationships &amp; Family</a></li>
            <li><a href="" class="SportsFitness">Sports &amp; Fitness</a></li>
            <li><a href="" class="Travel">Travel</a></li>
            <li class="last"><a href="" class="Weddings">Weddings</a></li>
        </ul>
    </div>
</div>

<div id="Home" class="Content">
    <div class="Frame">

        {{ content }}

    </div>
</div>

<div class="Footer">
    <div class="Frame">
        <ul>
            <li><a href="http://beta.essortment.com/about.htm">About Essortment</a></li>
            <li><a href="http://beta.essortment.com/privacy.htm">Privacy Policy</a></li>
            <li class="last"><a href="http://beta.essortment.com/disclaimer.htm">Terms of Use</a></li>
        </ul>
        
        <p>&copy; 2009 Demand Media, Inc.</p>
        
        <img src="http://beta.essortment.com/content/site/demandmedia.png" alt="Demand Media Network Logo"/>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script src="http://beta.essortment.com/site/common.js"></script>

<script src="http://beta.essortment.com/site/jquery.scrollto.min.js"></script>
<script src="http://beta.essortment.com/site/jquery.timer.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var controls = $('.rotator .controls a');
        var viewport = $('.rotator .viewport');
        var rotator = $('.rotator');
        var current = 0;
        var flag = false;

        function updaterotator (selected) {
            var selected = $(selected);
            viewport.scrollTo(selected.attr('href'), {duration:500});
            controls.removeClass('selected');
            selected.addClass('selected');
        };

        controls.click(function(e){ 
            e.preventDefault();
            updaterotator(this);
            current = jQuery.inArray(this, controls);
        });

        rotator.hover(
            function() {
                rotator.addClass('over');
                flag = true;
        },
            function() {
                rotator.removeClass('over');
                flag = false;
        });

        $.timer(7000, function(timer) {
            if (!flag) {
                if ( current >= 2 ) { current = 0 } else { current++ };
                updaterotator(controls[current]);
            };
        });

        var $templateLinks = $("#popularCategories li");
        var $templateArray = $(".PopularCategories .container ul");
        $(".PopularCategories .container ul:first").show();
        $templateLinks.click(function(){
            
            var linkIndex = $templateLinks.index(this);
            $templateArray.hide();
            $templateLinks.removeClass("selected");
            var selectedTemplate = $templateArray.eq(linkIndex).show();
            var selectedLink = $templateLinks.eq(linkIndex).toggleClass("selected");
        
         });
    });	
</script>
