---
layout: default
site_id: happynin.com
site_title: Happynin
site_ui_dir: /happynin/
site_stylesheet: happynin
---

<header class="Masthead">
    <div class="Frame">
        
        <a href="{{ site.github.url }}/happynin/" class="logo"><img src="{{ site.github.url }}/ui/happynin/images/icons/happynin-logo.png" alt="Happynin Games logo" /></a>
        <nav>
            <ul>
                <li><a href="{{ site.github.url }}/happynin/games/">Games</a></li>
                <li><a href="{{ site.github.url }}/happynin/games/upcoming.html">Upcoming</a></li>
                <li><a href="{{ site.github.url }}/happynin/about.html">About</a></li>
                <li><a href="{{ site.github.url }}/happynin/press.html">Press</a></li>
            </ul>
        </nav>
        
    </div>
</header>

{{ content }}

{% if page.news_enabled %}
    <section class="News">
        <div class="Frame FLC">

            <section class="Press">
                <header>
                    <h1>News</h1>
                </header>
                <article>
                    <hgroup>
                        <h2>Happynin Games Merges with Velvet Games</h2>
                        <h3>September 10, 2010</h3>
                    </hgroup>
                    <p>Happynin Games, Inc. has officially merged with another local developer and its' sister company, Velvet Games. Maker of "Mo' Fishin'", Velvet Games is a small iPhone development company located in Marina del Rey, CA.  The merging of the two companies not only doubles the size of Happynin Games employees, but doubles the number of titles in its' library. Combined, the new Happynin Games team will produce and launch 3 more games in 2010 alone.  Stay tuned for more details.</p>
                </article>
            </section>

            <section class="Twitter">
                <h1>Twitter</h1>
                <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                <script>
                    new TWTR.Widget({
                        version: 2,
                        type: 'profile',
                        rpp: 1,
                        interval: 6000,
                        width: 'auto',
                        height: 300,
                        theme: {
                            shell: {
                                background: '#80ddff',
                                color: '#80ddff'
                            },
                        tweets: {
                            background: '#80ddff',
                            color: '#333333',
                            links: '#ffffff'
                            }
                        },
                        features: {
                            scrollbar: false,
                            loop: false,
                            live: false,
                            hashtags: true,
                            timestamp: true,
                            avatars: false,
                            behavior: 'all'
                        }
                    }).render().setUser('happynin').start();
                </script>
                <a href="http://www.twitter.com/Happynin" title="Follow Happynin on Twitter" class="followUs">Follow Happynin on Twitter</a>
            </section>

        </div>
    </section>
{% endif %}

<footer class="Footer">
    <div class="Frame">

        <small>&copy; 2009 Happynin Games, Inc. In Partnership with <a href="http://www.caa.com/">Creative Artist Agency</a>.</small>
        <ul class="SocialLinks">
            <li><a href="{{ site.github.url }}/about.html#contact-us" class="email" title="Contact Us">Contact Us</a></li>
            <li><a href="http://twitter.com/Happynin" class="twitter" title="Follow @Happynin Games on Twitter">Follow @Happynin Games on Twitter</a></li>
            <li><a href="http://www.facebook.com/happynin" class="facebook" title="Like @Happynin Games on Facebook">Like @Happynin Games on Facebook</a></li>
            <li><a href="http://www.linkedin.com/companies/597083" class="linkedin" title="Check out our LinkedIn profile">LinkedIn</a></li>
        </ul>

    </div>
</footer>
