---
layout: default
site_id: parking-meter-productions.com
site_title: Parking Meter Productions
site_ui_dir: /pmp/
site_stylesheet: pmp
---

<header>
    <h1><a href="/pmp/"><img src="/ui/pmp/images/logo.png" alt="Parking Meter Productions logo" /></a></h1>

    <nav>
        <ul>
            <li><a class="selected" href="#news">News</a></li>
            <li><a href="#productions">Productions</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
</header>

{{ content }}

<footer>
    <small>&copy; 2010 Parking Meter Productions.</small>
    <a href="mailto:info@parkingmeterproductions.com">Contact</a>
    <ul>
        <li><a href="http://www.facebook.com/pages/Parking-Meter-Productions/108564502500233">Facebook</a></li>
        <li><a href="http://twitter.com/pmprods">Twitter</a></li>
    </ul>
</footer>

<script src="/ui/pmp/scripts/jquery.min.js"></script>
<script src="/ui/pmp/scripts/common.js"></script>
