---
layout: default
site_id: private-protective-services.com
site_title: Private Protective Services
site_ui_dir: /pps/
site_stylesheet: pps
---

<header id="Header">
    <div class="Frame">
        <a href="/pps/" title="Private Protective Services" rel="home" class="Logo">
            <h1 class="Grid10 Push2 Heading1 heading"><span class="one">Private</span><span class="two">Protective</span><span class="three">Services</span><span class="four">, Inc.</span></h1>
            <img src="/ui/pps/images/logo_114x113.png" width="114" height="113" alt="company logo" class="Pull10 image" />	
        </a>
    </div>
</header>

{{ content }}

<footer id="Footer" class="FLC">
    <div class="Frame">
        <div class="Grid8 Push2">
            <h1 class="Heading3 heading">Contact</h1>
            <div class="Heading6 vcard">
                <h2 class="subheading fn org"><a href="/pps/" class="url">Private Protective Services</a></h2>
                <address class="adr">
                    <div class="street-address"><abbr title="Post Office">PO</abbr> Box 87</div>
                    <span class="locality">Woodland Hills</span>, <abbr title="California" class="region">CA</abbr> <span class="postal-code">91365</span>
                </address>
                <a href="tel:18183129666" class="tel">818.312.9666</a>
                <a href="mailto:admin@privateprotectiveservices.com" class="email">admin@<span class="domain">privateprotectiveservices.com</span></a>
            </div>
            <small class="Heading6 copyright">&copy; Private Protective Services, <abbr title="Incorporated">Inc.</abbr></small>
            <dl class="Heading6 licenses">
                <dt class="heading"><abbr title="Private Patrol Operator">PPO</abbr></dt>
                <dd class="item">AZ #1610188</dd>
                <dd class="item">CA #16308</dd>
                <dd class="item">NJ #1409</dd>
                <dd class="item">NV #1685</dd>
                <dd class="item">NY #11000158663</dd>
            </dl>
        </div>
    </div>
</footer>
