---
layout: default
site_id: wedding.iamnewton.com
site_title: Chris &amp; Kate Are Getting Hitched!!!
site_ui_dir: /wedding/
site_stylesheet: wedding
description: We have been officially married since 2011.
id: Body
profile_links: true
---

<div class="Frame">
    <header id="Header">
        <h1 class="Heading1">Our Wedding</h1>
        <time datetime="2011-08-06T17:30:00-04:00" class="Heading2">August 6th, 2011</time>
    </header>

    {{ content }}

    <footer id="Footer">
        <small class="Note notice">&copy; 2011. Site by <a href="http://wrck.me/">apermanentwreck</a>.</small>
    </footer>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
<script src="/ui/wedding/scripts/common-min.js"></script>
