html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

a { text-decoration: none; cursor: pointer; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:focus { outline-style: none; }
    a:active { outline: none; }

    a img { border: none; }
    
p { margin: 10px 0px; line-height: 1.5em; }

h1, h2, h3, h4, h5 { font-weight: normal; font-size: 100%; margin: 0px; padding: 0px; }

em { text-decoration: underline; }

/* Float Container */
.FLC { clear:both; }
.FLC:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

    /* IE6 work-around \*/
    * html .FLC { height: 1%; }
    
    /* IE7 work-around */
    html > body .FLC { height: auto; max-height:12000000px; }
ul { -webkit-padding-start: 0; margin: 0; }

html { background-color:#e88c14; }
body { background-color:#e88c14; margin: 0; }
.FrameL { width: 1024px;  margin: 0 auto; padding: 0 0 0 22px; }
    .FrameL .FrameR { padding: 0 22px 0 0; }

/* Header */
.Header { background: #e88c14 url('../images/bg/header.jpg') repeat-x center top; }
    .Header .FrameL .FrameR { background: url('../images/bg/drop-shadow-top-right.png') no-repeat 1002px 100px; }
        .Header .FrameL .FrameR .Container { margin-left: 35px; }
    .Header .logo {}
        .Header .logo img { float: left; margin: 6px 30px 10px 0; color: #fff; }
        .Header .logo h1 { background: url('../images/symbols/ocea.png') no-repeat center center; height: 105px; width: 496px; text-indent: -5000px; float: left; padding: 0 0 20px; }
    .Header .tagline { float: right; margin: 24px 0 0; }
        .Header .tagline .temple { background: url('../images/symbols/temple.png') no-repeat center center; height: 74px; width: 110px; text-indent: -5000px; margin: 0 auto -1px; }
        .Header .tagline .text { background: url('../images/bg/drop-shadow-top-left.png') no-repeat left bottom; padding-left: 9px; }
            .Header .tagline .text h2 { width: 300px; background: #000; border:  1px solid #000; border-width: 5px 0 2px; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; padding: 3px 0; letter-spacing: 3px; font: 16px/1em 'Times New Roman, Times, serif'; color: #fff; text-align: center; }

/* PrimaryNav (Navigation) */
.PrimaryNav {}
    .PrimaryNav .FrameL { background: url('../images/bg/drop-shadow-top-left.png') no-repeat 34px bottom; }
        .PrimaryNav .FrameL .FrameR { background: url('../images/bg/drop-shadow-right.png') repeat-y right center; }
            .PrimaryNav .FrameL .FrameR .Container { margin-left: 20px; padding: 0 0 0 20px; background-color: #000; border: 1px solid #000; border-width: 1px 1px 0; -moz-border-radius: 15px 0 0 0; -webkit-border-radius: 15px 0 0 0; }
    .PrimaryNav .Nav1 { float: left; }
    .PrimaryNav form { float: right; margin: 2px 5px; }
        .PrimaryNav form input { float: left; }
        .PrimaryNav form input[type="text"] { width: 175px; background: #fff url('../images/icons/search.png') no-repeat 5px center; margin: 0 5px 0 0; border: 1px solid #000; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 5px 10px 5px 30px; color: #999; }
        .PrimaryNav form input[type="submit"] { border: 1px solid #d05d0a; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #f7971e url('../images/buttons/button2.jpg') repeat-x center top; height: 28px; color: #fff; font-weight: bold; text-transform: lowercase; cursor: pointer; }

/* SubNav */
.SubNav {}
    .SubNav .FrameL { background: url('../images/bg/drop-shadow-left.png') repeat-y left center; }
        .SubNav .FrameR { background: #fff url('../images/bg/drop-shadow-right.png') repeat-y right center; }
            .SubNav .FrameL .FrameR .Container { background-color: #d6e7fd; border: 1px solid #000; border-width: 1px 1px 0; }
                .SubNav .border { height: 10px;  }

/* Content */
.Content {}
    .Content .FrameL { background: url('../images/bg/drop-shadow-left.png') repeat-y left center; }
        .Content .FrameR { background: #fff url('../images/bg/drop-shadow-right.png') repeat-y right center; }
            .Content .FrameL .FrameR .Container { padding: 10px 20px 20px; border: 1px solid #333; border-width: 1px 1px 0; }	

/* Footer */
.Footer { clear: both; font-size: .9em; background-color: #333; }
    .Footer .FrameL .FrameR .Container { padding: 0 0 15px; }
    .Footer * { color: #fff; }
    .Footer a { text-decoration: underline; }
    .Footer p a { color: #F7C88C; }
    .Footer ul { list-style: none; padding: 10px 0 0; }
        .Footer ul li { display: inline; border: 1px solid #fff; border-width: 0 1px 0 0; padding-right: 10px; margin-right: 10px; }
        .Footer ul li:last-child { border-width: 0; }
    .Footer p:first-child { float: left; }
    .Footer p { float: right; margin: 10px 0 0; }
        .Footer a[rel="license"] { background: url('../images/icons/icon-cc.png') no-repeat right center; padding-right: 20px; color: #F7C88C; }
        

        
.sweetcolor { color: #f7971e; }

/* Template1 */
#Template1 {}

/* Template2a */
#Template2a {}
    #Template2a .column1 { float: left; width: 320px; margin-bottom: 20px; }
    #Template2a .column2 { float: right; width: 610px; margin-bottom: 20px; }
    #Template2a h1.Heading2a { margin: 0 0 10px; }
    #Template2a .Vision { margin: 10px 0 20px; }
#Template2b {}
    #Template2b .column1 { float: left; width: 610px; }
    #Template2b .column2 { float: right; width: 320px; }
#Template2c {}
    #Template2c .column1 { float: left; width: 45%; }
    #Template2c .column2 { float: right; width: 45%; }

/* =Navigation 
--------------------------------------------*/
.selected { cursor: default; }
    .selected a:hover { text-decoration: none; }

/* Nav1 */
.Nav1 { list-style: none; position: relative; height: 30px; line-height: 30px; }
    .Nav1 li { float: left; position: relative; top: 0px; }
        .Nav1 li a { display: block; background: #000; padding: 0 20px; border: 1px solid #000; border-width: 1px 1px 0; text-transform: uppercase; color: #fff; }
    .Nav1 li.selected { top: -8px; }
        .Nav1 li.selected a { background: #d6e7fd url('../images/navigation/nav1-selected.gif') repeat-x center top; padding: 10px 20px 0px; color: #000; border-color: #000; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }

.Nav2 { list-style: none; }
    .Nav2 li { line-height: 1.5em; font-size: 1.1em; }

.Nav3 { list-style: none; height: 28px; }
    .Nav3 li { float: left; margin: 0 5px; padding: 5px; border: 1px solid #999; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
        .Nav3 li a { color: #000; }
    .Nav3 li.selected { border-color: #000; background-color: #F7971E; }
        .Nav3 li.selected a { color: #fff; font-weight: bold; }

.Nav4 { list-style: none; }
    .Nav4 li { width: 33%; float: left; }

.Nav5 { list-style: none; }
    .Nav5 li { float: left; }
        .Nav5 li a { display: block; padding: 5px 20px; color: #000; }
    .Nav5 li.selected { }
        .Nav5 li.selected a { color: #999; }

.Pagination1 { list-style: none; height: 13px; line-height: 13px; float: right; }
    .Pagination1 li { float: left; margin-left: 5px; }
        .Pagination1 li a { border-left: 1px solid #000; padding-left: 5px; }
            .Pagination1 li:first-child a { border-left: 0; }

/* SecondaryNav (Sub Navigation) */
.SecondaryNav { list-style: none; clear: both; }
    .SecondaryNav li { float: left; }
    .SecondaryNav li:first-child a { padding: 10px 20px 10px 0; }
        .SecondaryNav li a { display: block; padding: 10px 20px; }

/* TertiaryNav */
.TertiaryNav { list-style: none; font-size: 1.5em; line-height: 2em; }
            
/* Breadcrumb */
.Breadcrumb { list-style: none; clear: both; height: 12px; font-size: 11px; margin: 0 0 10px; }
    .Breadcrumb li { float: left; margin-right: 5px; }

/* Content */
.Content { }

    /*
    .Content p { line-height: 1.5em; }
    
    .Content p:first-line { font-weight: bold; }
    .Content p:first-letter { font-size: 3em; font-weight: normal; padding: 0 2px 0 15px; }
        .Content p + p:first-letter { font-size: 1em; padding: 0;  }
    */



.Vision { border: 10px solid #999; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
    .Vision .statement { background: url('../images/bg/vision-statement.gif') repeat-x center center; width: 600px; float: left; border-right: 15px solid #999; }
        .Vision .statement div { background: url('../images/gallery/business_men.jpg') no-repeat left center; padding: 10px 20px 9px 240px; }
            .Vision .statement div p { margin: 10px 0 0; font-style: italic; line-height: 1.8em;  }
            .Vision .statement div a { float: right; color: #fff; font-weight: bold; }
    .Vision .gallery { float: left; width: 325px; }
        .Vision .gallery ul { list-style: none; }
            .Vision .gallery ul li { display: none; height: 155px; }
            .Vision .gallery ul li:first-child { display: block; }

    

.DinnerMeeting {}
    .DinnerMeeting .summary { }
    .DinnerMeeting .Heading5a { }
    .DinnerMeeting .description { }
        .DinnerMeeting .dstart sup { vertical-align: top; font-size: 11px; }
        .DinnerMeeting .description a:first-child { float: right; margin-right: 2px; text-transform: lowercase; }
        .DinnerMeeting .description a:first-child + h4 + p { font-style: italic; font-size: 0.9em; }
        .DinnerMeeting .description a:first-child + h4 + p:before { content: "*"; padding-right: 3px; }
        .DinnerMeeting .description h4 { font-weight: bold; }
        .DinnerMeeting .description h4 + p { margin: 5px 0 10px; line-height: 1.2em; }
        .DinnerMeeting .description table { width: 100%; margin: 0 0 5px; }
            .DinnerMeeting .description table th,
            .DinnerMeeting .description table td { background-color: #666; border: 1px solid #fff; padding: 4px 0; text-align: center; }
            .DinnerMeeting .description table th { color: #fff; }
            .DinnerMeeting .description table td { font-weight: bold; color: #000; }
            .DinnerMeeting .description table caption { text-align: left; font-weight: bold; }
            .DinnerMeeting .description table thead { }
                .DinnerMeeting .description table thead td { background-color: #fff; }
                .DinnerMeeting .description table thead tr th { -moz-border-radius: 5px 0 0 0; -webkit-border-bottom-left-radius: 5px 0 0 0; }
                .DinnerMeeting .description table thead tr th:last-child { -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border:  1px solid #fff; }
            .DinnerMeeting .description table tbody { }
                .DinnerMeeting .description table tbody tr:first-child th { -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; }
                .DinnerMeeting .description table tbody tr:last-child th { -moz-border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px; }
                .DinnerMeeting .description table tbody tr:last-child td:last-child { -moz-border-radius: 0 0 5px 0; -webkit-border-radius: 0 0 5px 0; }
            .DinnerMeeting .description table tfoot { display: none; }
        .DinnerMeeting .description ul { list-style: none; font-size: .9em; font-style: italic; }
            .DinnerMeeting .description ul li:first-child:before { content: "*"; padding: 0 5px 0 3px; }
            .DinnerMeeting .description ul li:last-child:before { content: "**"; padding-right: 3px; }
            .DinnerMeeting .description ul li:last-child { text-transform: uppercase; }
    .DinnerMeeting .description + p { font-weight: bold; position: relative; }
        .DinnerMeeting .description + p span { font-weight: normal; padding-left: 10px; }
        .DinnerMeeting .description + p > a { font-weight: normal; position: relative; top: 27px; left: 38px; }
    .DinnerMeeting .description + p + h4 { margin: 10px 0 5px; }
    .DinnerMeeting .description + p + h4 + div { }
    
.Events { }
    .Events .calendar { float: right; margin-right: 10px; height: 2em; line-height: 2em; }
    .Events .vevent { border-bottom: 1px dotted #999; padding: 0 0 10px; margin: 10px 10px 10px 0; }
        .Events .vevent .signUp { float: right; width: 75px; }
        .Events .vevent .title { font-weight: bold; float: left; clear: left; width: 100px; }
        .Events .vevent .title:after { content: ":"; }
        .Events .vevent .summary { margin: 10px 0; }
        .Events .vevent .summary + div {}
            .Events .vevent .summary + div .dstart { float: left; width: 400px; }
            .Events .vevent .vcard { float: left; width: 400px; }
        .Events .vevent .description { clear: both; }
            .Events .vevent .description p + p {}
            .Events .vevent .description ul { margin-left: 20px; list-style: disc; }
                .Events .vevent .description ul li { margin: 0 0 10px; }
            .Events .vevent .description .block { display: block; }
    .Events .vevent:last-child { border-bottom: 0; }

/* TagList */
.TagList { list-style: none; font-size: .9em; }
    .TagList li { display: inline; padding: 0 5px 0 0; }
    .TagList li:after { content: ","; }

/* Polaroid */
.Polaroid { display: block; float: left; background: url('../images/bg/polaroid.png') no-repeat right top; padding: 0 5px 18px;  }
    .Polaroid img { display: block; padding: 5px 5px 33px; border: 1px solid #000; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

/* FeaturedMember */
.FeaturedMember { margin: 0 0 20px; }
    .FeaturedMember .members { float: right; margin-right: 10px; height: 2em; line-height: 2em; }
    .FeaturedMember .info { margin: 20px 0 0; }
        .FeaturedMember .info .Polaroid { margin: 3px 10px 10px 0; }
        .FeaturedMember .info .fn { display: block; margin: 0 0 10px; font: bold 1.4em/1em 'Arial'; }
        .FeaturedMember .info dl { float: left; width: 815px; margin: 10px 0; }
            .FeaturedMember .info dl dt { float: left; clear: left; width: 150px; font-weight: bold; }
            .FeaturedMember .info dl dt:after { content: ":"; }
            .FeaturedMember .info dl dt.last { float: none; width: 100%; clear: both; }
            .FeaturedMember .info dl dd:last-child { float: none; width: 100%; clear: both; }
            .FeaturedMember .info dl dd { float: left; width: 300px; margin: 0 0 5px; }
    
/* CurrentNewsletter */
.CurrentNewsletter {}
    .CurrentNewsletter .archive { float: right; height: 2em; line-height: 2em; }
    .CurrentNewsletter .Heading2a { margin: 10px 0 20px; }
    .CurrentNewsletter .Heading5a { text-align: center; }
    .CurrentNewsletter .newsletter { display: block; text-align: center; margin: 10px 0 0; }
        .CurrentNewsletter .newsletter img { padding: 10px 5px; border: 1px solid #000; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
    .CurrentNewsletter .download { float: right; margin: 10px 5px; }


/* Tombstones */
.Tombstone { clear: both; }
    .Tombstone .Heading3a { border-bottom: 1px solid #000; margin-bottom: 10px; padding-bottom: 5px; }
    .Tombstone ul { list-style: none; margin: 0 20px; }
        .Tombstone ul li { float: left; width: 21%; font-size: 1em; }
        .Tombstone ul li:last-child { width: 16%; }
            .Tombstone ul li div { font-size: 1.2em; }
            .Tombstone ul li ul { margin: 10px 0; line-height: 2em; }
                .Tombstone ul li ul li { float: none; width: 100%; }
                .Tombstone ul li ul li:last-child { width: 100%; }

.NewsletterSignUp {}
    .NewsletterSignUp form {}
        .NewsletterSignUp form input[type="text"] { width: 210px; padding: 2px 5px; font-size: 1.2em; color: #999; }
        .NewsletterSignUp form input[type="submit"] { border: 1px solid #d05d0a; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #f7971e url('../images/buttons/button2.jpg') repeat-x center top; color: #fff; padding: 0 5px; font-weight: bold; font-size: 1.2em; text-transform: lowercase; cursor: pointer; }

.UpcomingEvents { height: 432px; }
    .UpcomingEvents .title { margin: 0 0 10px 10px; }
    .UpcomingEvents .overlay { position: relative; }
        .UpcomingEvents .overlay iframe { display: block; height: 400px; width: 320px; position: absolute; z-index: 1; }
        .UpcomingEvents .overlay img { height: 400px; width: 320px; position: absolute; z-index: 2; }
        .UpcomingEvents .overlay p { position: absolute; z-index: 0; left: 30%; top: 150px; font-size: 2em; font-weight: bold; }
        
.Form1 {}
    .Form1 fieldset:first-child label:first-child { margin: 0 0 2px; }
    .Form1 label { display: block; margin: 20px 0 2px; font-weight: bold; font-size: 1.1em; }
    .Form1 label:after { content: ":"; }
    .Form1 input[type="text"] { width: 300px; padding: 2px 5px; font-size: 1.2em; color: #999; }
    .Form1 input[type="text"]:focus { color: #000; }
    .Form1 input.shortInput { width: 100px; }
    .Form1 input#reply { width: 400px; }
    .Form1 select { margin: 2px 0 0;  padding: 2px 10px; font-size: 1.2em; }
    .Form1 textarea { width: 98%; height: 150px; font: 1.2em/1em 'Arial'; padding: 2px 5px; color: #666; }
    .Form1 textarea:focus { content: ""; }
    .Form1 input[type="submit"] { border: 1px solid #d05d0a; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #f7971e url('../images/buttons/button2.jpg') repeat-x center top; color: #fff; padding: 0 10px; font-weight: bold; font-size: 1.2em; text-transform: lowercase; cursor: pointer; margin: 20px 0 0; }

.del { text-decoration: line-through; }

html { color: #333; }

body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #333; }
* html body { font-size: x-small; f\ont-size: small; }

a { color: #f7971e; }
    
.Heading1a { font: bold 2.5em/1em 'Arial'; color: #000; margin: 0 0 20px; }
.Heading1b { font: bold 2.5em/1em 'Arial'; color: #666; }

.Heading2a { font: bold 2em/1em 'Arial'; color: #000; }
.Heading2b { font: bold 2em/1em 'Arial'; color: #666; }

.Heading3a { font: bold 1.8em/1em 'Arial'; color: #000; }
.Heading3b { font: bold 1.8em/1em 'Arial'; color: #666; }

.Heading4a { font: bold 1.5em/1em 'Arial'; color: #000; }
.Heading4b { font: bold 1.5em/1em 'Arial'; color: #666; }

.Heading5a { font: bold 1.2em/1em 'Arial'; color: #000; }
.Heading5b { font: bold 1.2em/1em 'Arial'; color: #666; }

.Heading6a { font: bold 1.1em/1em 'Arial'; color: #000; }
.Heading6b { font: bold 1.1em/1em 'Arial'; color: #666; }

.Title1a { font: normal 2.5em/1em 'Georgia'; color: #000; }
.Title1b { font: normal 2.5em/1em 'Georgia'; color: #000; }

.Title2a { font: normal 2em/1em 'Georgia'; color: #000; }
.Title2b { font: normal 2em/1em 'Georgia'; color: #666; }

.Title3a { font: normal 1.8em/1em 'Georgia'; color: #000; }
.Title3b { font: normal 1.8em/1em 'Georgia'; color: #666; }

.Title4a { font: normal 1.5em/1em 'Georgia'; color: #000; }
.Title4b { font: normal 1.5em/1em 'Georgia'; color: #666; }

.Title5a { font: normal 1.2em/1em 'Georgia'; color: #000; }
.Title5b { font: normal 1.2em/1em 'Georgia'; color: #666; }

.Title6a { font: normal 1.1em/1em 'Georgia'; color: #000; }
.Title6b { font: normal 1.1em/1em 'Georgia'; color: #666; }

.Warning, .Callout { color: #900; font-weight: bold; }
.Warning:before, .Callout { content: "*"; padding-right: 2px; }
p.Warning, .Callout { background-color: #ffc; border: 1px solid #FACE21; margin: 20px 0; padding: 5px 20px; }
span.Warning { margin-left: 10px; }

.Button1,
    .Button1 span { background: url(/ui/images/buttons/button1.gif) no-repeat; display: block; }
    
.Button1 { background-position: left center; height: 30px; padding-left: 5px; font: 1em/30px 'Arial'; text-align: center; }
    .Button1 span { background-position: right center; height: 100%; padding-right: 5px; }

a[rel~="external"] { background: url('/ui/images/icons/icon_ext.png') no-repeat right top; padding-right: 10px; }
a[rel~="pdf"] { background: url('/ui/images/icons/icon_pdf.png') no-repeat right center; padding-right: 20px; }
.download { background: url('/ui/images/icons/icon_download.png') no-repeat left center; padding-left: 20px; }
a[href^="mailto:"] { background: url('/ui/images/icons/icon_email.png') no-repeat right center; padding-right: 20px; }
